.additional-details {
    background-color: rgba(250, 250, 250, 0.85);
    width: 1307px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    padding-top: 46px;
    padding-bottom: 22px;
}

.additional-header, .additional-text {
    color: #000B4B;
}

.additional-header {
    font-family: 'Great Vibes';
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
    margin-left: 46px;
    margin-right: 46px;
}

.additional-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    margin-left: 46px;
    margin-right: 46px;
    margin-bottom: 27px;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media all and (max-width: 1920px) {// height 912px
    .additional-details {
        margin-top: 3.5%;
    }
}

@media all and (max-width: 1850px) {//height 878px
    .additional-details {
        width: 1137px;
        padding-top: 40px;
        padding-bottom: 16px;
        margin-top: 5%;
    }
    
    .additional-header {
        font-size: 40px;
        line-height: 49px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .additional-text {
        font-size: 20px;
        line-height: 27px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 24px;
    }
}

@media all and (max-width: 1700px) {//height 807px
    .additional-details {
        margin-top: 4%;
    }
}

@media all and (max-width: 1650px) { //height 783px
    .additional-details {
        width: 966px;
        padding-top: 34px;
        padding-bottom: 14px;
        margin-top: 7%;
    }
    
    .additional-header {
        font-size: 34px;
        line-height: 41px;
        margin-left: 34px;
        margin-right: 34px;
    }
    
    .additional-text {
        font-size: 17px;
        line-height: 22px;
        margin-left: 34px;
        margin-right: 34px;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 1600px) { //height 760px
    .additional-details {
        margin-top: 6.5%;
    }
}

@media all and (max-width: 1550px) { //height 736px
    .additional-details {
        margin-top: 6%;
    }
}

@media all and (max-width: 1500px) { //height 712px
    .additional-details {
        margin-top: 5.5%;
    }
}

@media all and (max-width: 1450px) { //height 688px
    .additional-details {
        margin-top: 5%;
    }
}

@media all and (max-width: 1400px) { //height 665px
    .additional-details {
        width: 851px;
        padding-top: 29px;
        padding-bottom: 12px;
        margin-top: 7%;
    }
    
    .additional-header {
        font-size: 29px;
        line-height: 36px;
        margin-left: 29px;
        margin-right: 29px;
    }
    
    .additional-text {
        font-size: 15px;
        line-height: 19px;
        margin-left: 29px;
        margin-right: 29px;
        margin-bottom: 17px;
    }
}

@media all and (max-width: 1350px) { //height 641px
    .additional-details {
        margin-top: 6%;
    }
}

@media all and (max-width: 1300px) { //height 617px
    .additional-details {
        margin-top: 5%;
    }
}

@media all and (max-width: 1250px) { //height 593px
    .additional-details {
        margin-top: 4.5%;
    }
}

@media all and (max-width: 1200px) { //height 570px
    .additional-details {
        width: 737px;
        padding-top: 25px;
        padding-bottom: 11px;
        margin-top: 7%;
    }
    
    .additional-header {
        font-size: 25px;
        line-height: 31px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .additional-text {
        font-size: 13px;
        line-height: 16px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 14px;
    }
}

@media all and (max-width: 1150px) { //height 546px
    .additional-details {
        margin-top: 6%;
    }
}

@media all and (max-width: 1150px) { //height 546px
    .additional-details {
        margin-top: 5%;
    }
}

@media all and (max-width: 1150px) { //height 546px
    .additional-details {
        margin-top: 4.5%;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1427px
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .additional-details {
        width: 545px;
        margin-top: 6%;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .additional-header {
        font-size: 46px;
        line-height: 57px;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    .additional-text {
        font-size: 24px;
        line-height: 33px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

@media all and (max-width: 1000px) { //height 1427px
    .additional-details {
        width: 477px;
        margin-top: 13%;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .additional-header {
        font-size: 40px;
        line-height: 49px;
        margin-left: 21px;
        margin-right: 21px;
    }
    
    .additional-text {
        font-size: 21px;
        line-height: 28px;
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 21px;
    }
}

@media all and (max-width: 950px) { //height 1310px
    .additional-details {
        margin-top: 10%;
    }
}

@media all and (max-width: 925px) { //height 1275px
    .additional-details {
        margin-top: 8.5%;
    }
}

@media all and (max-width: 900px) { //height 1241px
    .additional-details {
        margin-top: 7%;
    }
}

@media all and (max-width: 875px) { //height 1206px
    .additional-details {
        width: 407px;
        margin-top: 18%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    .additional-header {
        font-size: 34px;
        line-height: 41px;
        margin-left: 17px;
        margin-right: 17px;
    }
    
    .additional-text {
        font-size: 18px;
        line-height: 21px;
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 17px;
    }
}

@media all and (max-width: 800px) { //height 1103px
    .additional-details {
        margin-top: 16%;
    }
}

@media all and (max-width: 775px) { //height 1068px
    .additional-details {
        margin-top: 14%;
    }
}

@media all and (max-width: 750px) { //height 1034px
    .additional-details {
        margin-top: 12%;
    }
}

@media all and (max-width: 725px) { //height 1000px
    .additional-details {
        margin-top: 10%;
    }
}

@media all and (max-width: 700px) { //height 965px
    .additional-details {
        width: 339px;
        margin-top: 18%;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    
    .additional-header {
        font-size: 28px;
        line-height: 34px;
        margin-left: 14px;
        margin-right: 14px;
    }
    
    .additional-text {
        font-size: 15px;
        line-height: 17px;
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 14px;
    }
}

@media all and (max-width: 650px) { //height 896px
    .additional-details {
        margin-top: 16%;
    }
}

@media all and (max-width: 625px) { //height 862px
    .additional-details {
        margin-top: 14%;
    }
}

@media all and (max-width: 600px) { //height 827px
    .additional-details {
        margin-top: 11%;
    }
}

@media all and (max-width: 575px) { //height 793px
    .additional-details {
        width: 271px;
        margin-top: 22%;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    .additional-header {
        font-size: 22px;
        line-height: 27px;
        margin-left: 11px;
        margin-right: 11px;
    }
    
    .additional-text {
        font-size: 12px;
        line-height: 13px;
        margin-left: 11px;
        margin-right: 11px;
        margin-bottom: 11px;
    }
}

@media all and (max-width: 550px) { //height 758px
    .additional-details {
        margin-top: 20%;
    }
}

@media all and (max-width: 525px) { //height 724px
    .additional-details {
        margin-top: 18%;
    }
}