.additional-details {
    background-color: rgba(250, 250, 250, 0.85);
    width: 1413px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    padding-top: 46px;
    padding-bottom: 22px;
}

.additional-header {
    margin-left: 46px;
    margin-right: 46px;
}

.additional-text {
    margin-left: 46px;
    margin-right: 46px;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

//media queries
//desktop view
@media all and (max-width: 1920px) { //height 912px 
    .additional-details {
        margin-top: 2%;
    }
}

@media all and (max-width: 1880px) { //height 893px
    .additional-details {
        margin-top: 1%;
    }
}

@media all and (max-width: 1850px) { //height 878px 
    .additional-details {
        width: 1356px;
        margin-top: 2%;
        padding-top: 44px;
        padding-bottom: 21px;
    }
    
    .additional-header {
        margin-left: 44px;
        margin-right: 44px;
    }
    
    .additional-text {
        margin-left: 44px;
        margin-right: 44px;
    }
}

@media all and (max-width: 1790px) { //height 850px 
    .additional-details {
        margin-top: 1.25%;
    }
}

@media all and (max-width: 1740px) { //height 826px 
    .additional-details {
        margin-top: 1%;
    }
}

@media all and (max-width: 1730px) { //height 821px 
    .additional-details {
        width: 1243px;
        margin-top: 2%;
        padding-top: 40px;
        padding-bottom: 19px;
    }
    
    .additional-header {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .additional-text {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media all and (max-width: 1670px) { //height 764px 
    .additional-details {
        margin-top: 1%;
    }
}

@media all and (max-width: 1610px) { //height 764px 
    .additional-details {
        width: 1129px;
        padding-top: 36px;
        padding-bottom: 17px;
        margin-top: 2%;
    }
    
    .additional-header {
        margin-left: 36px;
        margin-right: 36px;
    }
    
    .additional-text {
        margin-left: 36px;
        margin-right: 36px;
    }
}

@media all and (max-width: 1535px) { //height 693px 
    .additional-details {
        margin-top: 1%;
    }
}

@media all and (max-width: 1495px) { //height 
    .additional-details {
        padding-top: 18px;
        padding-bottom: 9px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    .additional-details {
        width: 1017px;
        padding-top: 33px;
        padding-bottom: 15px;
        margin-top: 2%;
    }
    
    .additional-header {
        margin-left: 33px;
        margin-right: 33px;
    }
    
    .additional-text {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media all and (max-width: 1390px) { //height 660px 
    .additional-details {
        margin-top: 1%;
        padding-top: 16px;
        padding-bottom: 1px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    .additional-details {
        width: 960px;
        padding-top: 16px;
        padding-bottom: 1px;
        margin-top: 2%;
    }
    
    .additional-header {
        margin-left: 31px;
        margin-right: 31px;
    }
    
    .additional-text {
        margin-left: 31px;
        margin-right: 31px;
    }
}

@media all and (max-width: 1284px) { // height 609px 
    .additional-details {
        margin-top: 1%;
        padding-top: 8px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    .additional-details {
        width: 904px;
        padding-top: 29px;
        padding-bottom: 1px;
        margin-top: 3%;
    }
    
    .additional-header {
        margin-left: 29px;
        margin-right: 29px;
        line-height: 30px;
    }
    
    .additional-text {
        margin-left: 29px;
        margin-right: 29px;
    }
  
}

@media all and (max-width: 1219px) { // height 579px 
    .additional-details {
        padding-top: 14px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    .additional-details {
        width: 847px;
        padding-top: 27px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 27px;
        margin-right: 27px;
    }
    
    .additional-text {
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media all and (max-width: 1135px) { //height 539px 
    .additional-details {
        padding-top: 15px;
        margin-top: 2%;
    }
    
    .additional-header {
        line-height: 30px;
    }

    .additional-text {
        line-height: 18px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    .additional-details {
        width: 790px;
        padding-top: 18px;
        padding-bottom: 1px;
        margin-top: 2%;
    }
    
    .additional-header {
        margin-left: 25px;
        margin-right: 25px;
        line-height: 25px;
    }
    
    .additional-text {
        margin-left: 25px;
        margin-right: 25px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1427px
    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }

    .additional-details {
        width: 750px;
        margin-top: 8%;
        margin-bottom: 23px;
        padding-top: 24px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 24px;
        margin-right: 24px;
    }
    
    .additional-text {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

@media all and (max-width: 1034px) { //height 1426px 
    .additional-details {
        width: 700px;
        margin-top: 10%;
        margin-bottom: 22px;
        padding-top: 22px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 22px;
        margin-right: 22px;
    }
    
    .additional-text {
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 22px;
    }
}

@media all and (max-width: 975px) { //height 1344px
    .additional-details {
        margin-top: 8%;
    }
}

@media all and (max-width: 950px) { //height 1310px
    .additional-details {
        width: 647px;
        margin-top: 15%;
        margin-bottom: 19px;
        padding-top: 20px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .additional-text {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 925px) { //height 1275px 
    .additional-details {
        margin-top: 10%;
    }
}

@media all and (max-width: 900px) { //height 1241px 
    .additional-details {
        margin-top: 8%;
    }
}

@media all and (max-width: 875px) { //height 1206px
    .additional-details {
        width: 569px;
        margin-top: 15%;
        margin-bottom: 17px;
        padding-top: 18px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 18px;
        margin-right: 18px;
    }
    
    .additional-text {
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 18px;
    }
}

@media all and (max-width: 850px) { //height 1172px 
    .additional-details {
        margin-top: 13%;
    }
}

@media all and (max-width: 825px) { //height 1137px 
    .additional-details {
        margin-top: 10%;
    }
}

@media all and (max-width: 800px) { //height 1103px 
    .additional-details {
        margin-top: 8%;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    .additional-details {
        width: 540px;
        margin-top: 12%;
        margin-bottom: 13px;
        padding-top: 16px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .additional-text {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

@media all and (max-width: 725px) { //height 1000px 
    .additional-details {
        margin-top: 8%;
    }
}

@media all and (max-width: 700px) { //height 965px 
    .additional-details {
        width: 516px;
        margin-top: 13%;
        margin-bottom: 11px;
        padding-top: 15px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .additional-text {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 675px) { //height 931px 
    .additional-details {
        margin-top: 9%;
    }
}

@media all and (max-width: 650px) { //height 896px
    .additional-details {
        width: 463px;
        margin-top: 10%;
        margin-bottom: 9px;
        padding-top: 14px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 14px;
        margin-right: 14px;
    }
    
    .additional-text {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 14px;
    }
}

@media all and (max-width: 625px) { //height 862px 
    .additional-details {
        margin-top: 7%;
    }
}

@media all and (max-width: 600px) { //height 827px 
    .additional-details {
        width: 437px;
        margin-top: 12%;
        margin-bottom: 8px;
        padding-top: 13px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 13px;
        margin-right: 13px;
    }
    
    .additional-text {
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
}

@media all and (max-width: 575px) { //height 793px 
    .additional-details {
        margin-top: 8%;
    }
}

@media all and (max-width: 550px) { //height 758px 
    .additional-details {
        width: 387px;
        margin-top: 10%;
        margin-bottom: 4px;
        padding-top: 12px;
        padding-bottom: 1px;
    }
    
    .additional-header {
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .additional-text {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
}

@media all and (max-width: 525px) { //height 724px
    .additional-details {
        margin-top: 6%;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 862px
    .mobile {
        display: block;
    }

    .tablet {
        display: none;
    }

    .additional-details {
        width: 339px;
        margin-top: 18%;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    
    .additional-header {
        font-size: 28px;
        line-height: 34px;
        margin-left: 14px;
        margin-right: 14px;
    }
    
    .additional-text {
        font-size: 15px;
        line-height: 17px;
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 14px;
    }
}

@media all and (max-width: 475px) { //height 818px
    .additional-details {
        margin-top: 14%;
    }
}

@media all and (max-width: 455px) { //height 784px
    .additional-details {
        width: 271px;
        margin-top: 24%;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    .additional-header {
        font-size: 22px;
        line-height: 27px;
        margin-left: 11px;
        margin-right: 11px;
    }
    
    .additional-text {
        font-size: 12px;
        line-height: 13px;
        margin-left: 11px;
        margin-right: 11px;
        margin-bottom: 11px;
    }
}

@media all and (max-width: 380px) { //height 655px
    .additional-details {
        margin-top: 16%;
    }
}

@media all and (max-width: 359px) { //height 618px
    .additional-details {
        width: 248px;
        margin-top: 22%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .additional-header {
        font-size: 20px;
        line-height: 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .additional-text {
        font-size: 11px;
        line-height: 11px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 248px) { //height 427px
    .additional-details {
        margin-top: 30%;
    }
}

@media all and (max-width: 190px) { //height 327px
    .additional-details {
        margin-top: 50%;
    }
}

@media all and (max-width: 160px) { //height 275px
    .additional-details {
        margin-top: 70%;
    }
}