/* Front page styling*/
.front-page {
    width: 1475px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    color: #ffffff;

    filter: drop-shadow(0px 0px 50px #000000);
}

#Kincso {
    margin-top: 80px;
    height: 50px;
}

.front-page__k {
    letter-spacing: 0.05em;
}

#and {
    display: flex;
    height: 50px;
    justify-content: center;
}

#Zoltan {
    display: flex;
    height: 0px;
    justify-content: end;
    width: 1300px;
}

//media queries for max-width
//desktop-view
@media all and (max-width: 1920px) { //height 912px
    #Kincso {
        margin-top: 4%;
        height: 55px;
    }
}

@media all and (max-width: 1850px) { //height 878px 
    #and {
        height: 45px;
    }

    #Zoltan {
        width: 1225px;
    }
}

@media all and (max-width: 1730px) { //height 821px 
    .front-page {
        width: 1300px;
    }

    #and {
        height: 40px;
    }

    #Zoltan {
        width: 1175px;
    }
}

@media all and (max-width: 1610px) { //height 764px 
    .front-page {
        width: 1175px;
    }

    #Kincso {
        height: 50px
    }

    #and {
        height: 35px;
    }

    #Zoltan {
        width: 1025px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    .front-page {
        width: 1050px;
    }

    #Kincso {
        height: 45px
    }

    #and {
        height: 30px;
    }

    #Zoltan {
        width: 925px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    .front-page {
        width: 1000px;
    }

    #Zoltan {
        width: 875px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    .front-page {
        width: 945px;
    }

    #Kincso {
        height: 40px
    }

    #and {
        height: 25px;
    }

    #Zoltan {
        width: 825px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    .front-page {
        width: 885px;
    }

    #Zoltan {
        width: 760px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    .front-page {
        width: 825px;
    }

    #Kincso {
        height: 35px
    }

    #Zoltan {
        width: 710px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1427px
    .front-page {
        width: auto;
    }
    
    #Kincso, #Zoltan, #and {
        display: flex;
        justify-content: center;
        height: 325px;
        margin: 0px;
        margin-bottom: 50px;
        width: auto;
    }

    #Kincso {
        margin-top: 15%;
    }
}

@media all and (max-width: 1034px) { //height 1427px 
    #Kincso, #Zoltan, #and {
        height: 350px;
        margin-bottom: 0px;
    }

    #Kincso {
        margin-top: 15%;
    }
}

@media all and (max-width: 955px) { //height 1317px
    #Kincso, #Zoltan, #and {
        height: 325px;
    }
}

@media all and (max-width: 875px) { //height 1206px 
    #Kincso, #Zoltan, #and {
        height: 265px;
    }

    #Kincso {
        margin-top: 20%;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    #Kincso, #Zoltan, #and {
        height: 253px;
    }
}

@media all and (max-width: 700px) { //height 965px 
    #Kincso, #Zoltan, #and {
        height: 241px;
    }

    #Kincso {
        margin-top: 20%;
    }
}

@media all and (max-width: 650px) { //height 896px 
    #Kincso, #Zoltan, #and {
        height: 217px;
    }
}

@media all and (max-width: 600px) { //height 827px 
    #Kincso, #Zoltan, #and {
        height: 205px;
    }
}

@media all and (max-width: 550px) { //height 758px 
    #Kincso, #Zoltan, #and {
        height: 181px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 862px
    #Kincso, #Zoltan, #and {
        height: 175px;
    }

    #Kincso {
        margin-top: 30%;
    }
}

@media all and (max-width: 465px) { //height 801px 
    #Kincso, #Zoltan, #and {
        height: 164px;
    }
}

@media all and (max-width: 435px) { //height 750px 
    #Kincso, #Zoltan, #and {
        height: 154px;
    }
}

@media all and (max-width: 405px) { //height 698px 
    #Kincso, #Zoltan, #and {
        height: 144px;
    }
}

@media all and (max-width: 375px) { //height 646px 
    #Kincso, #Zoltan, #and {
        height: 133px;
    }
}

@media all and (max-width: 345px) { //height 594px 
    #Kincso, #Zoltan, #and {
        height: 123px;
    }
}

@media all and (max-width: 315px) { //height 543px 
    #Kincso, #Zoltan, #and {
        height: 113px;
    }
}

@media all and (max-width: 220px) { //height 362px 
    #Kincso, #Zoltan, #and {
        font-size: 48px;
        line-height: 60px;
        height: 69px;
    }
}