/* Front page styling*/
.front-page {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-size: 240px;
    line-height: 313px;
    color: #ffffff;

    filter: drop-shadow(0px 0px 50px #000000);
}

#Kincso {
    margin-top: 110px;
    height: 260px;
    letter-spacing: 0.05em;
}

#and {
    display: flex;
    height: 264px;
    line-height: 240px;
    justify-content: center;
}

#Zoltan {
    display: flex;
    height: 272px;
    line-height: 100px;
    justify-content: end;
    padding-right: 280px;
}

//media queries for max-width
@media all and (max-width: 1920px) { //height 912px
    #Kincso {
        margin-top: 175px;
    }
}

@media all and (max-width: 1800px) { //height 1012px
    .front-page {
        font-size: 200px;
        width: 1250px;
    }

    #Kincso, #Zoltan, #and {
        height: 220px;
    }
}

@media all and (max-width: 1580px) { //height 888px
    .front-page {
        font-size: 180px;
        width: 1125px;
    }

    #Kincso {
        margin-top: 125px;
        line-height: 360px;
    }

    #and {
        line-height: 200px;
    }

    #Zoltan {
        line-height: 75px;
    }
}

@media all and (max-width: 1485px) { //height 835px
    .front-page {
        font-size: 160px;
        width: 1000px;
    }

    #Kincso, #Zoltan, #and {
        height: 200px;
    }

    #Kincso {
        margin-top: 100px;
        height: 170px;
    }

    #and {
        line-height: 280px;
        height: 180px
    }

    #Zoltan {
        line-height: 210px;
        width: 830px;
        padding-right: 0px;
        line-height: 180px;
    }
}

@media all and (max-width: 1298px) { //height 730px
    #Kincso {
        margin-top: 50px;
    }
}

@media all and (max-width: 1175px) { //height 660px
    #Kincso {
        margin-top: 30px;
    }
}

@media all and (max-width: 1055px) {  //height 593px
    .front-page {
        font-size: 140px;
        width: 870px;
    }

    #Kincso {
        height: 150px;
    }

    #and {
        height: 170px;
    }

    #Zoltan {
        width: 725px;
    }
}

@media all and (max-width: 995px) { //height 559px
    #Kincso {
        margin-top: 10px;
    }
}

//tablet view
@media all and (max-width: 935px) {
    .front-page {
        width: auto;
        font-size: 200px;
    }
    
    #Kincso, #Zoltan, #and {
        display: flex;
        justify-content: center;
        margin: 0;
        height: 350px;
        width: auto;
    }

    #Kincso {
        margin-top: 30%;
    }
}

@media all and (max-width: 768px) { //height 1228px
    .front-page {
        font-size: 170px;
    }

    #Kincso, #Zoltan, #and {
        height: 300px;
    }
}

@media all and (max-width: 605px) { //heigh 968px
    .front-page {
        font-size: 120px;
    }

    #Kincso, #Zoltan, #and {
        height: 225px;
    } 

    #Kincso {
        margin-top: 25%;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 1075px
    .front-page {
        font-size: 110px;
    }

    #Kincso, #Zoltan, #and {
        height: 220px;
    }

    #Kincso {
        margin-top: 200px;
    }
}

@media all and (max-width: 450px) { //height 968px
    #Kincso {
        margin-top: 150px;
    }
}

@media all and (max-width: 420px) { //height 903px
    #Kincso {
        margin-top: 125px;
    }
}

@media all and (max-width: 400px) { //height 860px
    .front-page {
        font-size: 90px;
    }

    #Kincso, #Zoltan, #and {
        height: 190px;
    }
}

@media all and (max-width: 375px) { //height 806px
    #Kincso {
        margin-top: 100px;
    }
}

@media all and (max-width: 350px) { //height 752px
    #Kincso {
        margin-top: 80px;
    }
}

@media all and (max-width: 330px) {
    .front-page {
        font-size: 75px;
    }

    #Kincso, #Zoltan, #and {
        height: 160px;
    }

    #Kincso {
        margin-top: 90px;
    }
}

@media all and (max-width: 270px) { //height 580px
    .front-page {
        font-size: 60px;
    }

    #Kincso, #Zoltan, #and {
        height: 140px;
    }

    #Kincso {
        margin-top: 35px;
    }
}

@media all and (max-width: 240px) { //height 516px
    #Kincso {
        margin-top: 10px;
    }

    #and {
        line-height: 260px;
    }
}

@media all and (max-width: 219px) { //height 470px
    .front-page {
        font-size: 50px;
    }

    #Kincso, #Zoltan, #and {
        height: 125px;
    }

    #Kincso {
        margin-top: 0px;
    }
}

@media all and (max-width: 200px) { //height 430px
    #Kincso {
        line-height: 275px;
    }

    #and {
        line-height: 200px;
    }

    #Zoltan {
        line-height: 130px;
        height: 0px
    }
}

@media all and (max-width: 180px) { //height 387
    .front-page {
        font-size: 42px;
    }

    #Kincso {
        line-height: 250px;
    }

    #and {
        line-height: 150px;
    }

    #Zoltan {
        line-height: 55px;
    }
}

@media all and (max-width: 150px) {// height 322px
    #Kincso {
        line-height: 200px;
    }

    #and {
        line-height: 75px;
        height: 100px;
    }

    #Zoltan {
        line-height: 0px;
    }
}