p {
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.case-study-content {
    background-color: rgba(250, 250, 250, 0.85);
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: 21px;
    margin-bottom: 120px;
}

.case-study__title {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 2px solid rgba(0, 11, 75, 0.5);
}

.case-study__content--header {
    margin-left: 50px;
}

h4 {
    margin-left: 90px;
}

.case-study__img {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.scale-img {
    width: 40%
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.margin-one {
    margin-left: 50px;
}

.margin-two {
    margin-left: 75px;
}

.margin-three {
    margin-left: 100px;
}

//media queries
//desktop view
@media all and (max-width: 1850px) { //height 878px
    p {
        margin-bottom: 24px;
        margin-right: 48px;
        margin-left: 48px;
    }
    
    .case-study-content {
        width: 1440px;
        padding-top: 19px;
        padding-bottom: 33px;
        margin-top: 20px;
        margin-bottom: 115px;
    }
    
    .case-study__title {
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 19px;
        margin-top: 48px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 48px;
    }

    .margin-one {
        margin-left: 48px;
    }
    
    .margin-two {
        margin-left: 72px;
    }
    
    .margin-three {
        margin-left: 96px;
    }
    
    h4 {
        margin-left: 86px;
    }
}

@media all and (max-width: 1730px) { //height 821px 
    p {
        margin-bottom: 22px;
        margin-right: 44px;
        margin-left: 44px;
    }
    
    .case-study-content {
        width: 1320px;
        padding-top: 17px;
        padding-bottom: 30px;
        margin-top: 18px;
        margin-bottom: 105px;
    }
    
    .case-study__title {
        margin-left: 44px;
        margin-right: 44px;
        margin-bottom: 17px;
        margin-top: 44px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 44px;
    }

    .margin-one {
        margin-left: 44px;
    }
    
    .margin-two {
        margin-left: 66px;
    }
    
    .margin-three {
        margin-left: 88px;
    }
    
    h4 {
        margin-left: 79px;
    }
}

@media all and (max-width: 1610px) { //height 764px 
    p {
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .case-study-content {
        width: 1200px;
        padding-top: 16px;
        padding-bottom: 28px;
        margin-top: 16px;
        margin-bottom: 96px;
    }
    
    .case-study__title {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 16px;
        margin-top: 40px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 40px;
    }

    .margin-one {
        margin-left: 40px;
    }
    
    .margin-two {
        margin-left: 60px;
    }
    
    .margin-three {
        margin-left: 80px;
    }
    
    h4 {
        margin-left: 72px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    p {
        margin-bottom: 18px;
        margin-right: 36px;
        margin-left: 36px;
    }
    
    .case-study-content {
        width: 1080px;
        padding-top: 14px;
        padding-bottom: 25px;
        margin-top: 15px;
        margin-bottom: 86px;
    }
    
    .case-study__title {
        margin-left: 36px;
        margin-right: 36px;
        margin-bottom: 14px;
        margin-top: 36px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 36px;
    }

    .margin-one {
        margin-left: 36px;
    }
    
    .margin-two {
        margin-left: 54px;
    }
    
    .margin-three {
        margin-left: 72px;
    }
    
    h4 {
        margin-left: 64px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    p {
        margin-bottom: 17px;
        margin-right: 34px;
        margin-left: 34px;
    }
    
    .case-study-content {
        width: 1020px;
        padding-top: 13px;
        padding-bottom: 23px;
        margin-top: 14px;
        margin-bottom: 81px;
    }
    
    .case-study__title {
        margin-left: 34px;
        margin-right: 34px;
        margin-bottom: 13px;
        margin-top: 34px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 34px;
    }

    .margin-one {
        margin-left: 34px;
    }
    
    .margin-two {
        margin-left: 51px;
    }
    
    .margin-three {
        margin-left: 68px;
    }
    
    h4 {
        margin-left: 61px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    p {
        margin-bottom: 16px;
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .case-study-content {
        width: 960px;
        padding-top: 12px;
        padding-bottom: 22px;
        margin-top: 13px;
        margin-bottom: 76px;
    }
    
    .case-study__title {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 12px;
        margin-top: 32px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 32px;
    }

    .margin-one {
        margin-left: 32px;
    }
    
    .margin-two {
        margin-left: 48px;
    }
    
    .margin-three {
        margin-left: 64px;
    }
    
    h4 {
        margin-left: 57px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    p {
        margin-bottom: 15px;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    .case-study-content {
        width: 900px;
        padding-top: 12px;
        padding-bottom: 21px;
        margin-top: 12px;
        margin-bottom: 72px;
    }
    
    .case-study__title {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 12px;
        margin-top: 30px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 30px;
    }

    .margin-one {
        margin-left: 30px;
    }
    
    .margin-two {
        margin-left: 45px;
    }
    
    .margin-three {
        margin-left: 60px;
    }
    
    h4 {
        margin-left: 54px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    p {
        margin-bottom: 14px;
        margin-right: 28px;
        margin-left: 28px;
    }
    
    .case-study-content {
        width: 840px;
        padding-top: 11px;
        padding-bottom: 19px;
        margin-top: 11px;
        margin-bottom: 67px;
    }
    
    .case-study__title {
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 11px;
        margin-top: 28px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 28px;
    }

    .margin-one {
        margin-left: 28px;
    }
    
    .margin-two {
        margin-left: 42px;
    }
    
    .margin-three {
        margin-left: 56px;
    }
    
    h4 {
        margin-left: 50px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1427px 
    p {
        margin-bottom: 25px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .case-study-content {
        width: 770px;
        padding-top: 20px;
        padding-bottom: 35px;
        margin-top: 24px;
        margin-bottom: 70px;
    }
    
    .case-study__title {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-bottom: 4px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 40px;
    }

    .margin-one {
        margin-left: 40px;
    }
    
    .margin-two {
        margin-left: 60px;
    }
    
    .margin-three {
        margin-left: 80px;
    }
    
    h4 {
        margin-left: 80px;
    }
}

@media all and (max-width: 1034px) { //height 1426px 
    p {
        margin-bottom: 23px;
        margin-right: 37px;
        margin-left: 37px;
    }
    
    .case-study-content {
        width: 716px;
        padding-top: 18px;
        padding-bottom: 32px;
        margin-top: 22px;
        margin-bottom: 65px;
    }
    
    .case-study__title {
        margin-left: 37px;
        margin-right: 37px;
        margin-bottom: 18px;
        margin-top: 9px;
        border-bottom: 4px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 37px;
    }

    .margin-one {
        margin-left: 37px;
    }
    
    .margin-two {
        margin-left: 55px;
    }
    
    .margin-three {
        margin-left: 74px;
    }
    
    h4 {
        margin-left: 74px;
    }
}

@media all and (max-width: 950px) { //height 1310px  
    p {
        margin-bottom: 21px;
        margin-right: 34px;
        margin-left: 34px;
    }
    
    .case-study-content {
        width: 663px;
        padding-top: 17px;
        padding-bottom: 30px;
        margin-top: 21px;
        margin-bottom: 60px;
    }
    
    .case-study__title {
        margin-left: 34px;
        margin-right: 34px;
        margin-bottom: 17px;
        margin-top: 8px;
        border-bottom: 4px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 34px;
    }

    .margin-one {
        margin-left: 34px;
    }
    
    .margin-two {
        margin-left: 51px;
    }
    
    .margin-three {
        margin-left: 68px;
    }
    
    h4 {
        margin-left: 68px;
    }
}

@media all and (max-width: 875px) { //height 1206px 
    p {
        margin-bottom: 18px;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    .case-study-content {
        width: 583px;
        padding-top: 15px;
        padding-bottom: 26px;
        margin-top: 18px;
        margin-bottom: 53px;
    }
    
    .case-study__title {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
        margin-top: 7px;
        border-bottom: 3px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 30px;
    }

    .margin-one {
        margin-left: 30px;
    }
    
    .margin-two {
        margin-left: 45px;
    }
    
    .margin-three {
        margin-left: 60px;
    }
    
    h4 {
        margin-left: 60px;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    p {
        margin-bottom: 18px;
        margin-right: 28px;
        margin-left: 28px;
    }
    
    .case-study-content {
        width: 557px;
        padding-top: 14px;
        padding-bottom: 25px;
        margin-top: 17px;
        margin-bottom: 50px;
    }
    
    .case-study__title {
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 14px;
        margin-top: 7px;
        border-bottom: 3px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 28px;
    }

    .margin-one {
        margin-left: 28px;
    }
    
    .margin-two {
        margin-left: 42px;
    }
    
    .margin-three {
        margin-left: 56px;
    }
    
    h4 {
        margin-left: 57px;
    }
}

@media all and (max-width: 700px) { //height 965px 
    p {
        margin-bottom: 17px;
        margin-right: 27px;
        margin-left: 27px;
    }
    
    .case-study-content {
        width: 530px;
        padding-top: 13px;
        padding-bottom: 24px;
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
    .case-study__title {
        margin-left: 27px;
        margin-right: 27px;
        margin-bottom: 13px;
        margin-top: 6px;
        border-bottom: 3px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 27px;
    }

    .margin-one {
        margin-left: 27px;
    }
    
    .margin-two {
        margin-left: 40px;
    }
    
    .margin-three {
        margin-left: 54px;
    }
    
    h4 {
        margin-left: 55px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    p {
        margin-bottom: 15px;
        margin-right: 24px;
        margin-left: 24px;
    }
    
    .case-study-content {
        width: 477px;
        padding-top: 12px;
        padding-bottom: 21px;
        margin-top: 15px;
        margin-bottom: 43px;
    }
    
    .case-study__title {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 12px;
        margin-top: 6px;
        border-bottom: 3px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 24px;
    }

    .margin-one {
        margin-left: 24px;
    }
    
    .margin-two {
        margin-left: 36px;
    }
    
    .margin-three {
        margin-left: 48px;
    }
    
    h4 {
        margin-left: 49px;
    }
}

@media all and (max-width: 600px) { //height 827px 
    p {
        margin-bottom: 14px;
        margin-right: 23px;
        margin-left: 23px;
    }
    
    .case-study-content {
        width: 451px;
        padding-top: 11px;
        padding-bottom: 20px;
        margin-top: 14px;
        margin-bottom: 41px;
    }
    
    .case-study__title {
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 11px;
        margin-top: 5px;
        border-bottom: 3px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 23px;
    }

    .margin-one {
        margin-left: 23px;
    }
    
    .margin-two {
        margin-left: 34px;
    }
    
    .margin-three {
        margin-left: 46px;
    }
    
    h4 {
        margin-left: 46px;
    }
}

@media all and (max-width: 550px) { //height 758px 
    p {
        margin-bottom: 12px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .case-study-content {
        width: 398px;
        padding-top: 10px;
        padding-bottom: 18px;
        margin-top: 12px;
        margin-bottom: 36px;
    }
    
    .case-study__title {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 5px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 20px;
    }

    .margin-one {
        margin-left: 20px;
    }
    
    .margin-two {
        margin-left: 30px;
    }
    
    .margin-three {
        margin-left: 40px;
    }
    
    h4 {
        margin-left: 41px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 862px
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none;
    }

    p {
        margin-bottom: 14px;
        margin-right: 17px;
        margin-left: 17px;
    }
    
    .case-study-content {
        width: 398px;
        padding-top: 11px;
        padding-bottom: 20px;
        margin-top: 43px;
        margin-bottom: 40px;
    }
    
    .case-study__title {
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 16px;
        margin-top: 6px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 17px;
    }

    .margin-one {
        margin-left: 17px;
    }
    
    .margin-two {
        margin-left: 25px;
    }
    
    .margin-three {
        margin-left: 34px;
    }
    
    h4 {
        margin-left: 17px;
    }
}

@media all and (max-width: 465px) { //height 801px
    p {
        margin-bottom: 13px;
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .case-study-content {
        width: 375px;
        padding-top: 11px;
        padding-bottom: 19px;
        margin-top: 40px;
        margin-bottom: 38px;
    }
    
    .case-study__title {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 15px;
        margin-top: 5px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 16px;
    }

    .margin-one {
        margin-left: 16px;
    }
    
    .margin-two {
        margin-left: 24px;
    }
    
    .margin-three {
        margin-left: 32px;
    }
    
    h4 {
        margin-left: 16px;
    }
}


@media all and (max-width: 435px) { //height 750px
    p {
        margin-bottom: 12px;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .case-study-content {
        width: 352px;
        padding-top: 10px;
        padding-bottom: 18px;
        margin-top: 37px;
        margin-bottom: 36px;
    }
    
    .case-study__title {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 14px;
        margin-top: 5px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 15px;
    }

    .margin-one {
        margin-left: 15px;
    }
    
    .margin-two {
        margin-left: 22px;
    }
    
    .margin-three {
        margin-left: 30px;
    }
    
    h4 {
        margin-left: 15px;
    }
}

@media all and (max-width: 405px) { //height 698px
    p {
        margin-bottom: 11px;
        margin-right: 14px;
        margin-left: 14px;
    }
    
    .case-study-content {
        width: 328px;
        padding-top: 9px;
        padding-bottom: 16px;
        margin-top: 34px;
        margin-bottom: 33px;
    }
    
    .case-study__title {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 13px;
        margin-top: 5px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 14px;
    }

    .margin-one {
        margin-left: 14px;
    }
    
    .margin-two {
        margin-left: 21px;
    }
    
    .margin-three {
        margin-left: 28px;
    }
    
    h4 {
        margin-left: 14px;
    }
}

@media all and (max-width: 375px) { //height 646px
    p {
        margin-bottom: 10px;
        margin-right: 13px;
        margin-left: 13px;
    }
    
    .case-study-content {
        width: 305px;
        padding-top: 8px;
        padding-bottom: 16px;
        margin-top: 32px;
        margin-bottom: 31px;
    }
    
    .case-study__title {
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 12px;
        margin-top: 4px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 13px;
    }

    .margin-one {
        margin-left: 13px;
    }
    
    .margin-two {
        margin-left: 19px;
    }
    
    .margin-three {
        margin-left: 26px;
    }
    
    h4 {
        margin-left: 13px;
    }
}

@media all and (max-width: 345px) { //height 594px
    p {
        margin-bottom: 9px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .case-study-content {
        width: 281px;
        padding-top: 8px;
        padding-bottom: 14px;
        margin-top: 29px;
        margin-bottom: 28px;
    }
    
    .case-study__title {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 11px;
        margin-top: 4px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 12px;
    }

    .margin-one {
        margin-left: 12px;
    }
    
    .margin-two {
        margin-left: 18px;
    }
    
    .margin-three {
        margin-left: 24px;
    }
    
    h4 {
        margin-left: 12px;
    }
}

@media all and (max-width: 315px) { //height 543px
    p {
        margin-bottom: 8px;
        margin-right: 11px;
        margin-left: 11px;
    }
    
    .case-study-content {
        width: 258px;
        padding-top: 7px;
        padding-bottom: 13px;
        margin-top: 27px;
        margin-bottom: 26px;
    }
    
    .case-study__title {
        margin-left: 11px;
        margin-right: 11px;
        margin-bottom: 10px;
        margin-top: 4px;
        border-bottom: 2px solid rgba(0, 11, 75, 0.5);
    }

    .case-study__content--header {
        margin-left: 11px;
    }

    .margin-one {
        margin-left: 11px;
    }
    
    .margin-two {
        margin-left: 16px;
    }
    
    .margin-three {
        margin-left: 22px;
    }
    
    h4 {
        margin-left: 11px;
    }
}