.main-details {
    background: rgba(255, 255, 255, 0.85);
    width: 1156px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-details__date, .main-details__ceremony, .main-details__lunch {
    display: inline-block;
}

.main-details__date {
    margin-left: 30px;
    width: 252px;
}

.main-details__lunch {
    margin-right: 30px;
    width: 222px;
}

.main-details__ceremony {
    width: 390px;
    margin-right: 110px;
    margin-left: 110px;
}

.main-details__text, .main-details__header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

//size of the text to center them
#date {
    width: 79px;
}

#year {
    width: 60px;
}

#day {
    width: 105px;
}

#hour {
    width: 188px;
}

#ceremony {
    width: 340px;
}

#house {
    width: 139px;
}

#room {
    width: 244px;
}

#entrance {
    width: 377px;
}

#lunch {
    width: 190px;
}

#place {
    width: 189px;
}

#distance {
    width: 144px;
}

#from-where {
    width: 169px;
}

//media queries
@media all and (max-width: 1920px) { //height 912px 
    .main-details {
        margin-top: 15%;
    }
}

@media all and (max-width: 1850px) { //height 878px 
    .main-details {
        width: 1091px;
        margin-top: 14.5%;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .main-details__date {
        margin-left: 28px;
        width: 241px;
    }
    
    .main-details__lunch {
        margin-right: 28px;
        width: 213px;
    }
    
    .main-details__ceremony {
        width: 371px;
        margin-right: 105px;
        margin-left: 105px;
    }
    
    #date {
        width: 76px;
    }
    
    #year {
        width: 57px;
    }
    
    #day {
        width: 100px;
    }
    
    #hour {
        width: 180px;
    }
    
    #ceremony {
        width: 326px;
    }
    
    #house {
        width: 133px;
    }
    
    #room {
        width: 234px;
    }
    
    #entrance {
        width: 362px;
    }
    
    #lunch {
        width: 195px;
    }
    
    #place {
        width: 181px;
    }
    
    #distance {
        width: 139px;
    }
    
    #from-where {
        width: 162px;
    }
}

@media all and (max-width: 1730px) { //height 821px 
    .main-details {
        width: 1001px;
        padding-top: 44px;
        padding-bottom: 44px;
    }
    
    .main-details__date {
        margin-left: 26px;
        width: 221px;
    }
    
    .main-details__lunch {
        margin-right: 26px;
        width: 195px;
    }
    
    .main-details__ceremony {
        width: 341px;
        margin-right: 96px;
        margin-left: 96px;
    }

    #date {
        width: 69px;
    }
    
    #year {
        width: 52px;
    }
    
    #day {
        width: 92px;
    }
    
    #hour {
        width: 165px;
    }
    
    #ceremony {
        width: 305px;
    }
    
    #house {
        width: 122px;
    }
    
    #room {
        width: 214px;
    }
    
    #entrance {
        width: 332px;
    }
    
    #lunch {
        width: 173px;
    }
    
    #place {
        width: 166px;
    }
    
    #distance {
        width: 127px;
    }
    
    #from-where {
        width: 148px;
    }
}

@media all and (max-width: 1610px) { //height 764px 
    .main-details {
        width: 912px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .main-details__date {
        margin-left: 24px;
        width: 201px;
    }
    
    .main-details__lunch {
        margin-right: 24px;
        width: 177px;
    }
    
    .main-details__ceremony {
        width: 310px;
        margin-right: 88px;
        margin-left: 88px;
    }

    #date {
        width: 63px;
    }
    
    #year {
        width: 48px;
    }
    
    #day {
        width: 84px;
    }
    
    #hour {
        width: 150px;
    }
    
    #ceremony {
        width: 272px;
    }
    
    #house {
        width: 111px;
    }
    
    #room {
        width: 195px;
    }
    
    #entrance {
        width: 302px;
    }
    
    #lunch {
        width: 157px;
    }
    
    #place {
        width: 151px;
    }
    
    #distance {
        width: 116px;
    }
    
    #from-where {
        width: 135px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    .main-details {
        width: 820px;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    
    .main-details__date {
        margin-left: 21px;
        width: 181px;
    }
    
    .main-details__lunch {
        margin-right: 21px;
        width: 160px;
    }
    
    .main-details__ceremony {
        width: 279px;
        margin-right: 79px;
        margin-left: 79px;
    }
    
    #date {
        width: 57px;
    }
    
    #year {
        width: 43px;
    }
    
    #day {
        width: 76px;
    }
    
    #hour {
        width: 135px;
    }
    
    #ceremony {
        width: 244px;
    }
    
    #house {
        width: 100px;
    }
    
    #room {
        width: 175px;
    }
    
    #entrance {
        width: 271px;
    }
    
    #lunch {
        width: 141px;
    }
    
    #place {
        width: 136px;
    }
    
    #distance {
        width: 104px;
    }
    
    #from-where {
        width: 121px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    .main-details {
        width: 773px;
        padding-top: 34px;
        padding-bottom: 34px;
    }
    
    .main-details__date {
        margin-left: 20px;
        width: 171px;
    }
    
    .main-details__lunch {
        margin-right: 20px;
        width: 151px;
    }
    
    .main-details__ceremony {
        width: 263px;
        margin-right: 74px;
        margin-left: 74px;
    }
    
    #date {
        width: 54px;
    }
    
    #year {
        width: 40px;
    }
    
    #day {
        width: 72px;
    }
    
    #hour {
        width: 128px;
    }
    
    #ceremony {
        width: 231px;
    }
    
    #house {
        width: 95px;
    }
    
    #room {
        width: 166px;
    }
    
    #entrance {
        width: 256px;
    }
    
    #lunch {
        width: 132px;
    }
    
    #place {
        width: 128px;
    }
    
    #distance {
        width: 98px;
    }
    
    #from-where {
        width: 115px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    .main-details {
        width: 729px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .main-details__date {
        margin-left: 19px;
        width: 161px;
    }
    
    .main-details__lunch {
        margin-right: 19px;
        width: 142px;
    }
    
    .main-details__ceremony {
        width: 248px;
        margin-right: 70px;
        margin-left: 70px;
    }
    
    #date {
        width: 51px;
    }
    
    #year {
        width: 38px;
    }
    
    #day {
        width: 67px;
    }
    
    #hour {
        width: 120px;
    }
    
    #ceremony {
        width: 221px;
    }
    
    #house {
        width: 89px;
    }
    
    #room {
        width: 156px;
    }
    
    #entrance {
        width: 241px;
    }
    
    #lunch {
        width: 126px;
    }
    
    #place {
        width: 121px;
    }
    
    #distance {
        width: 93px;
    }
    
    #from-where {
        width: 108px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    .main-details {
        width: 684px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .main-details__date {
        margin-left: 18px;
        width: 151px;
    }
    
    .main-details__lunch {
        margin-right: 18px;
        width: 133px;
    }
    
    .main-details__ceremony {
        width: 232px;
        margin-right: 66px;
        margin-left: 66px;
    }
    
    #date {
        width: 47px;
    }
    
    #year {
        width: 35px;
    }
    
    #day {
        width: 64px;
    }
    
    #hour {
        width: 113px;
    }
    
    #ceremony {
        width: 204px;
    }
    
    #house {
        width: 83px;
    }
    
    #room {
        width: 146px;
    }
    
    #entrance {
        width: 226px;
    }
    
    #lunch {
        width: 118px;
    }
    
    #place {
        width: 113px;
    }
    
    #distance {
        width: 87px;
    }
    
    #from-where {
        width: 101px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    .main-details {
        width: 636px;
        padding-top: 28px;
        padding-bottom: 28px;
    }
    
    .main-details__date {
        margin-left: 16px;
        width: 141px;
    }
    
    .main-details__lunch {
        margin-right: 16px;
        width: 124px;
    }
    
    .main-details__ceremony {
        width: 217px;
        margin-right: 61px;
        margin-left: 61px;
    }
    
    #date {
        width: 44px;
    }
    
    #year {
        width: 33px;
    }
    
    #day {
        width: 59px;
    }
    
    #hour {
        width: 105px;
    }
    
    #ceremony {
        width: 195px;
    }
    
    #house {
        width: 78px;
    }
    
    #room {
        width: 137px;
    }
    
    #entrance {
        width: 211px;
    }
    
    #lunch {
        width: 109px;
    }
    
    #place {
        width: 106px;
    }
    
    #distance {
        width: 81px;
    }
    
    #from-where {
        width: 95px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1656px
    .main-details {
        margin-top: 19%;
        width: 519px;
    }

    .main-details__date, .main-details__ceremony, .main-details__lunch {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-details__date {
        width: 290px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 65px;
        width: 257px;
    }
    
    .main-details__ceremony {
        margin-top: 65px;
        width: 449px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    #date {
        width: 91px;
    }
    
    #year {
        width: 63px;
    }
    
    #day {
        width: 120px;
    }
    
    #hour {
        width: 218px;
    }
    
    #ceremony {
        width: 405px;
    }
    
    #house {
        width: 161px;
    }
    
    #room {
        width: 282px;
    }
    
    #entrance {
        width: 437px;
    }
    
    #lunch {
        width: 220px;
    }
    
    #place {
        width: 218px;
    }
    
    #distance {
        width: 168px;
    }
    
    #from-where {
        width: 195px;
    }
}

@media all and (max-width: 1034px) { //height 
    .main-details {
        width: 482px;
    }

    .main-details__date {
        width: 269px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 60px;
        width: 239px;
    }
    
    .main-details__ceremony {
        margin-top: 60px;
        width: 418px;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    #date {
        width: 85px;
    }
    
    #year {
        width: 58px;
    }
    
    #day {
        width: 111px;
    }
    
    #hour {
        width: 203px;
    }
    
    #ceremony {
        width: 377px;
    }
    
    #house {
        width: 150px;
    }
    
    #room {
        width: 263px;
    }
    
    #entrance {
        width: 407px;
    }
    
    #lunch {
        width: 208px;
    }
    
    #place {
        width: 203px;
    }
    
    #distance {
        width: 156px;
    }
    
    #from-where {
        width: 182px;
    }
}

@media all and (max-width: 950px) { //height 1310px 
    .main-details {
        width: 447px;
    }

    .main-details__date {
        width: 249px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 56px;
        width: 222px;
    }
    
    .main-details__ceremony {
        margin-top: 56px;
        width: 387px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    #date {
        width: 79px;
    }
    
    #year {
        width: 54px;
    }
    
    #day {
        width: 103px;
    }
    
    #hour {
        width: 188px;
    }
    
    #ceremony {
        width: 349px;
    }
    
    #house {
        width: 139px;
    }
    
    #room {
        width: 244px;
    }
    
    #entrance {
        width: 377px;
    }
    
    #lunch {
        width: 193px;
    }
    
    #place {
        width: 188px;
    }
    
    #distance {
        width: 144px;
    }
    
    #from-where {
        width: 169px;
    }
}

@media all and (max-width: 875px) { //height 1206px 
    .main-details {
        width: 393px;
    }

    .main-details__date {
        width: 219px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 49px;
        width: 195px;
    }
    
    .main-details__ceremony {
        margin-top: 49px;
        width: 341px;
        margin-left: 26px;
        margin-right: 26px;
    }
    
    #date {
        width: 69px;
    }
    
    #year {
        width: 47px;
    }
    
    #day {
        width: 90px;
    }
    
    #hour {
        width: 165px;
    }
    
    #ceremony {
        width: 306px;
    }
    
    #house {
        width: 122px;
    }
    
    #room {
        width: 214px;
    }
    
    #entrance {
        width: 332px;
    }
    
    #lunch {
        width: 170px;
    }
    
    #place {
        width: 166px;
    }
    
    #distance {
        width: 127px;
    }
    
    #from-where {
        width: 148px;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    .main-details {
        width: 375px;
    }

    .main-details__date {
        width: 209px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 47px;
        width: 186px;
    }
    
    .main-details__ceremony {
        margin-top: 47px;
        width: 325px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #date {
        width: 66px;
    }
    
    #year {
        width: 45px;
    }
    
    #day {
        width: 86px;
    }
    
    #hour {
        width: 158px;
    }
    
    #ceremony {
        width: 293px;
    }
    
    #house {
        width: 117px;
    }
    
    #room {
        width: 205px;
    }
    
    #entrance {
        width: 317px;
    }
    
    #lunch {
        width: 162px;
    }
    
    #place {
        width: 158px;
    }
    
    #distance {
        width: 121px;
    }
    
    #from-where {
        width: 142px;
    }
}

@media all and (max-width: 725px) { //height 1000px
    .main-details {
        margin-top: 14%;
    }
}

@media all and (max-width: 700px) { //height 965px 
    .main-details {
        margin-top: 12%;
        width: 358px;
    }

    .main-details__date {
        width: 199px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 44px;
        width: 177px;
    }
    
    .main-details__ceremony {
        margin-top: 44px;
        width: 310px;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    #date {
        width: 63px;
    }
    
    #year {
        width: 43px;
    }
    
    #day {
        width: 82px;
    }
    
    #hour {
        width: 150px;
    }
    
    #ceremony {
        width: 280px;
    }
    
    #house {
        width: 111px;
    }
    
    #room {
        width: 195px;
    }
    
    #entrance {
        width: 302px;
    }
    
    #lunch {
        width: 154px;
    }
    
    #place {
        width: 151px;
    }
    
    #distance {
        width: 116px;
    }
    
    #from-where {
        width: 135px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    .main-details {
        width: 321px;
    }

    .main-details__date {
        width: 179px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 40px;
        width: 160px;
    }
    
    .main-details__ceremony {
        margin-top: 40px;
        width: 279px;
        margin-left: 21px;
        margin-right: 21px;
    }
    
    #date {
        width: 57px;
    }
    
    #year {
        width: 39px;
    }
    
    #day {
        width: 74px;
    }
    
    #hour {
        width: 135px;
    }
    
    #ceremony {
        width: 251px;
    }
    
    #house {
        width: 100px;
    }
    
    #room {
        width: 175px;
    }
    
    #entrance {
        width: 271px;
    }
    
    #lunch {
        width: 140px;
    }
    
    #place {
        width: 136px;
    }
    
    #distance {
        width: 104px;
    }
    
    #from-where {
        width: 121px;
    }
}

@media all and (max-width: 600px) { //height 827px 
    .main-details {
        width: 303px;
    }

    .main-details__date {
        width: 169px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 38px;
        width: 151px;
    }
    
    .main-details__ceremony {
        margin-top: 38px;
        width: 263px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #date {
        width: 54px;
    }
    
    #year {
        width: 38px;
    }
    
    #day {
        width: 70px;
    }
    
    #hour {
        width: 128px;
    }
    
    #ceremony {
        width: 237px;
    }
    
    #house {
        width: 95px;
    }
    
    #room {
        width: 166px;
    }
    
    #entrance {
        width: 256px;
    }
    
    #lunch {
        width: 131px;
    }
    
    #place {
        width: 128px;
    }
    
    #distance {
        width: 98px;
    }
    
    #from-where {
        width: 115px;
    }
}

@media all and (max-width: 575px) { //height 793px
    .main-details {
        margin-top: 9%;
    }
}

@media all and (max-width: 550px) { //height 758px 
    .main-details {
        width: 268px;
    }

    .main-details__date {
        width: 149px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 33px;
        width: 133px;
    }
    
    .main-details__ceremony {
        margin-top: 33px;
        width: 232px;
        margin-left: 18px;
        margin-right: 18px;
    }
    
    #date {
        width: 47px;
    }
    
    #year {
        width: 32px;
    }
    
    #day {
        width: 62px;
    }
    
    #hour {
        width: 113px;
    }
    
    #ceremony {
        width: 209px;
    }
    
    #house {
        width: 83px;
    }
    
    #room {
        width: 146px;
    }
    
    #entrance {
        width: 226px;
    }
    
    #lunch {
        width: 116px;
    }
    
    #place {
        width: 113px;
    }
    
    #distance {
        width: 87px;
    }
    
    #from-where {
        width: 101px;
    }
}

//Mobile view
@media all and (max-width: 500px) { //height 862px 
    .main-details {
        margin-top: 28%;
        width: 303px;
    }

    .main-details__date {
        width: 140px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 38px;
        width: 151px;
    }
    
    .main-details__ceremony {
        margin-top: 38px;
        width: 263px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #date {
        width: 54px;
    }
    
    #year {
        width: 38px;
    }
    
    #day {
        width: 70px;
    }
    
    #hour {
        width: 128px;
    }
    
    #ceremony {
        width: 190px;
    }
    
    #house {
        width: 95px;
    }
    
    #room {
        width: 166px;
    }
    
    #entrance {
        width: 256px;
    }
    
    #lunch {
        width: 110px;
    }
    
    #place {
        width: 128px;
    }
    
    #distance {
        width: 98px;
    }
    
    #from-where {
        width: 115px;
    }
}

@media all and (max-width: 465px) { //height 801px 
    .main-details {
        width: 284px;
    }

    .main-details__date {
        width: 131px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 35px;
        width: 142px;
    }
    
    .main-details__ceremony {
        margin-top: 35px;
        width: 248px;
        margin-left: 18px;
        margin-right: 18px;
    }
    
    #date {
        width: 51px;
    }
    
    #year {
        width: 35px;
    }
    
    #day {
        width: 66px;
    }
    
    #hour {
        width: 120px;
    }
    
    #ceremony {
        width: 178px;
    }
    
    #house {
        width: 89px;
    }
    
    #room {
        width: 166px;
    }
    
    #entrance {
        width: 256px;
    }
    
    #lunch {
        width: 108px;
    }
    
    #place {
        width: 128px;
    }
    
    #distance {
        width: 98px;
    }
    
    #from-where {
        width: 115px;
    }
}

@media all and (max-width: 435px) { //height 750px 
    .main-details {
        width: 266px;
    }

    .main-details__date {
        width: 123px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 33px;
        width: 133px;
    }
    
    .main-details__ceremony {
        margin-top: 33px;
        width: 232px;
        margin-left: 17px;
        margin-right: 17px;
    }
    
    #date {
        width: 47px;
    }
    
    #year {
        width: 33px;
    }
    
    #day {
        width: 61px;
    }
    
    #hour {
        width: 113px;
    }
    
    #ceremony {
        width: 169px;
    }
    
    #house {
        width: 83px;
    }
    
    #room {
        width: 146px;
    }
    
    #entrance {
        width: 226px;
    }
    
    #lunch {
        width: 97px;
    }
    
    #place {
        width: 113px;
    }
    
    #distance {
        width: 87px;
    }
    
    #from-where {
        width: 101px;
    }
}

@media all and (max-width: 405px) { //height 698px 
    .main-details {
        width: 249px;
    }

    .main-details__date {
        width: 115px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 31px;
        width: 124px;
    }
    
    .main-details__ceremony {
        margin-top: 31px;
        width: 217px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    #date {
        width: 44px;
    }
    
    #year {
        width: 31px;
    }
    
    #day {
        width: 58px;
    }
    
    #hour {
        width: 105px;
    }
    
    #ceremony {
        width: 156px;
    }
    
    #house {
        width: 78px;
    }
    
    #room {
        width: 137px;
    }
    
    #entrance {
        width: 211px;
    }
    
    #lunch {
        width: 90px;
    }
    
    #place {
        width: 106px;
    }
    
    #distance {
        width: 81px;
    }
    
    #from-where {
        width: 95px;
    }
}

@media all and (max-width: 375px) { //height 646px 
    .main-details {
        width: 231px;
    }

    .main-details__date {
        width: 107px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 29px;
        width: 115px;
    }
    
    .main-details__ceremony {
        margin-top: 29px;
        width: 201px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #date {
        width: 41px;
    }
    
    #year {
        width: 29px;
    }
    
    #day {
        width: 55px;
    }
    
    #hour {
        width: 98px;
    }
    
    #ceremony {
        width: 145px;
    }
    
    #house {
        width: 72px;
    }
    
    #room {
        width: 127px;
    }
    
    #entrance {
        width: 196px;
    }
    
    #lunch {
        width: 85px;
    }
    
    #place {
        width: 98px;
    }
    
    #distance {
        width: 75px;
    }
    
    #from-where {
        width: 88px;
    }
}

@media all and (max-width: 345px) { //height 594px 
    .main-details {
        width: 214px;
    }

    .main-details__date {
        width: 98px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 26px;
        width: 107px;
    }
    
    .main-details__ceremony {
        margin-top: 26px;
        width: 186px;
        margin-left: 14px;
        margin-right: 14px;
    }
    
    #date {
        width: 38px;
    }
    
    #year {
        width: 26px;
    }
    
    #day {
        width: 49px;
    }
    
    #hour {
        width: 90px;
    }
    
    #ceremony {
        width: 135px;
    }
    
    #house {
        width: 67px;
    }
    
    #room {
        width: 117px;
    }
    
    #entrance {
        width: 181px;
    }
    
    #lunch {
        width: 78px;
    }
    
    #place {
        width: 91px;
    }
    
    #distance {
        width: 70px;
    }
    
    #from-where {
        width: 81px;
    }
}

@media all and (max-width: 315px) { //height 543px 
    .main-details {
        width: 195px;
    }

    .main-details__date {
        width: 90px;
        margin-top: 0px;
    }
    
    .main-details__lunch {
        margin-top: 24px;
        width: 98px;
    }
    
    .main-details__ceremony {
        margin-top: 24px;
        width: 171px;
        margin-left: 12px;
        margin-right: 12px;
    }
    
    #date {
        width: 35px;
    }
    
    #year {
        width: 25px;
    }
    
    #day {
        width: 46px;
    }
    
    #hour {
        width: 83px;
    }
    
    #ceremony {
        width: 124px;
    }
    
    #house {
        width: 62px;
    }
    
    #room {
        width: 107px;
    }
    
    #entrance {
        width: 166px;
    }
    
    #lunch {
        width: 71px;
    }
    
    #place {
        width: 83px;
    }
    
    #distance {
        width: 64px;
    }
    
    #from-where {
        width: 74px;
    }
}