.letter {
    background-color: rgba(250, 250, 250, 0.85);
    margin-left: 10.46%;
    margin-right: 10.46%;
    margin-top: 10%;

}

.letter-header {
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Great Vibes';
    font-size: 100px;
    line-height: 125.2px;
    color: #000B4B;
}

.letter-text {
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Open Sans';
    font-size: 25px;
    line-height: 34.05px;
    color: #000B4B;
}

.mobile {
    display: none;
}

//Media queries for min-width
@media all and (min-width: 1920px) { //height 1080px
    .letter {
        width: 1520px;
        margin-left: auto;
        margin-right: auto;
    }
}

//Media queries for max-width
@media all and (max-width: 1895px) { // height 1065px
    .letter-header {
        font-size: 95px;
    }

    .letter-text {
        font-size: 24px;
    }
}

@media all and (max-width: 1820px) { //height 1023px
    .letter {
        margin-top: 13%;
    }
    
    .letter-header {
        font-size: 92px;
    }

    .letter-text {
        font-size: 23px;
    }
}

@media all and (max-width: 1750px) { //height 984px
    .letter-header {
        font-size: 88px;
        line-height: 100px;
    }

    .letter-text {
        font-size: 22px;
    }
}

@media all and (max-width: 1680px) { //height 945px
    .letter {
        margin-top: 14%;
    }

    .letter-header {
        font-size: 84px;
        padding-top: 20px;
    }

    .letter-text {
        font-size: 21px;
        padding-bottom: 20px;
        line-height: 31px;
    }
}

@media all and (max-width: 1605px) { //height 902px
    .letter {
        margin-top: 14%;
    }
    .letter-header {
        font-size: 80px;
    }

    .letter-text {
        font-size: 20px;
        line-height: 30px;
    }
}

@media all and (max-width: 1535px) { //height 863px
    .letter {
        margin-top: 15%;
    } 

    .letter-header {
        font-size: 76px;
    }

    .letter-text {
        font-size: 19px;
        line-height: 25px;
    }
}

@media all and (max-width: 1465px) { //height 824px
    .letter-header {
        font-size: 72px;
    }
    
    .letter-text {
        font-size: 18px;
    }
}

@media all and (max-width: 1390px) { //height 781
    .letter {
        margin-top: 16%;
    }

    .letter-header {
        font-size: 68px;
        line-height: 75px;
    }

    .letter-text {
        font-size: 17px;
        line-height: 23px;
    }
}

@media all and (max-width: 1320px) { //height 742px
    .letter-header {
        font-size: 64px;
    }

    .letter-text {
        font-size: 16px;
        line-height: 21px;
    }
}

@media all and (max-width: 1250px) { //height 703px
    .letter-header {
        font-size: 60px;
    }

    .letter-text {
        font-size: 15px;
        line-height: 19px;
    }
}

@media all and (max-width: 1175px) { //height 660px
     .letter-header {
        font-size: 56px;
    }

    .letter-text {
        font-size: 14px;
    }
}

@media all and (max-width: 1105px) { //height 621px
    .letter-header {
        font-size: 52px;
    }

    .letter-text {
        font-size: 13px;
        line-height: 16px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1656
    .mobile {
        display: inherit;
    }

    .letter {
        width: 500px;
        margin: 0 auto;
        margin-top: 30%;
    }

    .letter-header {
        font-size: 60px;
        line-height: 70px;
        padding-top: 15px;
        margin-left: 15px;
    }

    .letter-text {
        font-size: 22px;
        line-height: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;

    }
}

// @media all and (max-width: 700px) //height 1120px


@media all and (max-width: 600px) { //height 960px
    .letter {
        width: 344px;
    }

    .letter-header {
        font-size: 40px;
        line-height: 50px;
    }

    .letter-text {
        font-size: 15px;
        line-height: 19px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 1075px
    .letter {
        margin-top: 40%;
        width: 88%;
    }

    .letter-header {
        font-size: 52px;
        line-height: 75px;
    }

    .letter-text {
        font-size: 19px;
        line-height: 25px;
    }
}

@media all and (max-width: 485px) { //height 1043px
    .letter-header {
        font-size: 48px;
        line-height: 65px;
    }

    .letter-text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media all and (max-width: 465px) { //height 1000px
    .letter-header {
        font-size: 45px;
        line-height: 56px;
    }
    
    .letter-text {
        font-size: 17px;
    }
}

@media all and (max-width: 436px) { //height 935px
    .letter-header {
        font-size: 43px;
        line-height: 53px;
    }

    .letter-text {
        font-size: 16px;
        line-height: 21px;
    }
}

@media all and (max-width: 412px) { //height 886px
    .letter-header {
        font-size: 40px;
        line-height: 50px;
    }

    .letter-text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 389px) { //height 836px
    .letter-header {
        font-size: 37px;
        line-height: 46px;
    }
    
    .letter-text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media all and (max-width: 365px) { //height 784px
    .letter-header {
        font-size: 34px;
        line-height: 42px;
    }
    
    .letter-text {
        font-size: 13px;
        line-height: 17px;
    }
}

@media all and (max-width: 341px) { //height 733px
    .letter-header {
        font-size: 32px;
        line-height: 40px;
    }
    
    .letter-text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media all and (max-width: 318px) { //height 683px
    .letter {
        margin-bottom: 250px;
    }
    
    .letter-header {
        font-size: 29px;
        line-height: 36px;
    }

    .letter-text {
        font-size: 11px;
        line-height: 14px;
    }
}

@media all and (max-width: 294px) {
    .letter {
        margin-bottom: 250px;
    }
}