.desktop {
    display: block;
}

.tablet {
    display: none;
}

.mobile {
    display: none;
}

.letter {
    background-color: rgba(250, 250, 250, 0.85);
    margin-top: 144px;
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.letter-header {
    padding-top: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.letter-text {
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

@media all and (max-width: 1920px) { //height 912px
    .letter {
        margin-top: 8%;
    }
}

@media all and (max-width: 1850px) { //height 878px
    .letter {
        width: 1436px;
    }
    
    .letter-header {
        padding-top: 38px;
        margin-left: 38px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 38px;
        margin-left: 38px;
        margin-right: 38px;
    }
}

@media all and (max-width: 1730px) { //height 821px
    .letter {
        width: 1317px;
    }
    
    .letter-header {
        padding-top: 35px;
        margin-left: 35px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 35px;
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media all and (max-width: 1610px) { //height 764px
    .letter {
        width: 1197px;
    }
    
    .letter-header {
        padding-top: 32px;
        margin-left: 32px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    .letter {
        width: 1076px;
    }
    
    .letter-header {
        padding-top: 28px;
        margin-left: 28px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 28px;
        margin-left: 28px;
        margin-right: 28px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    .letter {
        width: 1017px;
    }
    
    .letter-header {
        padding-top: 27px;
        margin-left: 27px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 27px;
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    .letter {
        width: 959px;
    }
    
    .letter-header {
        padding-top: 26px;
        margin-left: 26px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 26px;
        margin-left: 26px;
        margin-right: 26px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    .letter {
        width: 898px;
    }
    
    .letter-header {
        padding-top: 24px;
        margin-left: 24px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    .letter {
        width: 837px;
    }
    
    .letter-header {
        padding-top: 22px;
        margin-left: 22px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 22px;
        margin-left: 22px;
        margin-right: 22px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1656
    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }

    .letter {
        width: 770px;
        margin: 0 auto;
        margin-top: 8.5%;
    }

    .letter-header {
        padding-top: 29px;
        margin-left: 29px;
    }

    .letter-text {
        margin-left: 29px;
        margin-right: 29px;
        margin-bottom: 29px;
    }
}

@media all and (max-width: 1034px) { //height 1656 
    .letter {
        width: 716px;
    }

    .letter-header {
        padding-top: 27px;
        margin-left: 27px;
    }

    .letter-text {
        margin-left: 27px;
        margin-right: 27px;
        margin-bottom: 27px;
    }
}

@media all and (max-width: 950px) { //height 1310px  
    .letter {
        width: 663px;
    }

    .letter-header {
        padding-top: 25px;
        margin-left: 25px;
    }

    .letter-text {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}

@media all and (max-width: 875px) { //height 1206px 
    .letter {
        width: 584px;
    }

    .letter-header {
        padding-top: 22px;
        margin-left: 22px;
    }

    .letter-text {
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 22px;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    .letter {
        width: 557px;
    }

    .letter-header {
        padding-top: 21px;
        margin-left: 21px;
    }

    .letter-text {
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 700px) { //height 965px 
    .letter {
        width: 531px;
    }

    .letter-header {
        padding-top: 20px;
        margin-left: 20px;
    }

    .letter-text {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    .letter {
        width: 477px;
    }

    .letter-header {
        padding-top: 18px;
        margin-left: 18px;
    }

    .letter-text {
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 600px) { //height 827px 
    .letter {
        width: 451px;
    }

    .letter-header {
        padding-top: 17px;
        margin-left: 17px;
    }

    .letter-text {
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 550px) { //height 758px 
    .letter {
        width: 398px;
    }

    .letter-header {
        padding-top: 15px;
        margin-left: 15px;
    }

    .letter-text {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 862px
    .desktop {
        display: none;
    }
    
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }
    
    .letter {
        width: 389px;
        margin-top: 14%;
    }

    .letter-header {
        padding-top: 17px;
        margin-left: 17px;
    }

    .letter-text {
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 17px;
    }
}

@media all and (max-width: 465px) { //height 801px 
    .letter {
        width: 390px;
    }

    .letter-header {
        padding-top: 16px;
        margin-left: 16px;
    }

    .letter-text {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

@media all and (max-width: 435px) { //height 750px
    .letter {
        width: 344px;
    }

    .letter-header {
        padding-top: 15px;
        margin-left: 15px;
    }

    .letter-text {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 405px) { //height 698px
    .letter {
        width: 321px;
    }

    .letter-header {
        padding-top: 14px;
        margin-left: 14px;
    }

    .letter-text {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 14px;
    }
}

@media all and (max-width: 375px) { //height 646px
    .letter {
        width: 298px;
    }

    .letter-header {
        padding-top: 13px;
        margin-left: 13px;
    }

    .letter-text {
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
}

@media all and (max-width: 345px) { //height 594px 
    .letter {
        width: 275px;
    }

    .letter-header {
        padding-top: 12px;
        margin-left: 12px;
    }

    .letter-text {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
}

@media all and (max-width: 315px) { //height 543px
    .letter {
        width: 252px;
    }

    .letter-header {
        padding-top: 11px;
        margin-left: 11px;
    }

    .letter-text {
        margin-left: 11px;
        margin-right: 11px;
        margin-bottom: 11px;
    }
}