.letter {
    background-color: rgba(250, 250, 250, 0.85);
    margin-top: 200px;
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.letter-header {
    padding-top: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.letter-text {
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.mobile {
    display: none;
}

@media all and (max-width: 1920px) { //height 912px
    .letter {
        margin-top: 11%;
    }
}

@media all and (max-width: 1850px) { //height 878px
    .letter {
        width: 1436px;
    }
    
    .letter-header {
        padding-top: 38px;
        margin-left: 38px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 38px;
        margin-left: 38px;
        margin-right: 38px;
    }
}

@media all and (max-width: 1730px) { //height 821px
    .letter {
        width: 1317px;
    }
    
    .letter-header {
        padding-top: 35px;
        margin-left: 35px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 35px;
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media all and (max-width: 1610px) { //height 764px
    .letter {
        width: 1197px;
    }
    
    .letter-header {
        padding-top: 32px;
        margin-left: 32px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media all and (max-width: 1460px) { //height 693px 
    .letter {
        width: 1076px;
    }
    
    .letter-header {
        padding-top: 28px;
        margin-left: 28px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 28px;
        margin-left: 28px;
        margin-right: 28px;
    }
}

@media all and (max-width: 1320px) { //height 627px 
    .letter {
        margin-top: 10%;
        width: 1017px;
    }
    
    .letter-header {
        padding-top: 27px;
        margin-left: 27px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 27px;
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media all and (max-width: 1248px) { // height 592px 
    .letter {
        width: 959px;
    }
    
    .letter-header {
        padding-top: 26px;
        margin-left: 26px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 26px;
        margin-left: 26px;
        margin-right: 26px;
    }
}

@media all and (max-width: 1190px) { // height 565px 
    .letter {
        width: 898px;
    }
    
    .letter-header {
        padding-top: 24px;
        margin-left: 24px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media all and (max-width: 1080px) { //height 513px 
    .letter {
        width: 837px;
    }
    
    .letter-header {
        padding-top: 22px;
        margin-left: 22px;
        margin-bottom: 0px;
    }
    
    .letter-text {
        padding-bottom: 22px;
        margin-left: 22px;
        margin-right: 22px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1656
    .mobile {
        display: inherit;
    }

    .letter {
        width: 500px;
        margin: 0 auto;
        margin-top: 30%;
    }

    .letter-header {
        font-size: 60px;
        line-height: 70px;
        padding-top: 15px;
        margin-left: 15px;
    }

    .letter-text {
        font-size: 22px;
        line-height: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;

    }
}

@media all and (max-width: 600px) { //height 960px
    .letter {
        width: 344px;
    }

    .letter-header {
        font-size: 40px;
        line-height: 50px;
    }

    .letter-text {
        font-size: 15px;
        line-height: 19px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 1075px
    .letter {
        margin-top: 40%;
        width: 88%;
    }

    .letter-header {
        font-size: 52px;
        line-height: 75px;
    }

    .letter-text {
        font-size: 19px;
        line-height: 25px;
    }
}

@media all and (max-width: 485px) { //height 1043px
    .letter-header {
        font-size: 48px;
        line-height: 65px;
    }

    .letter-text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media all and (max-width: 465px) { //height 1000px
    .letter-header {
        font-size: 45px;
        line-height: 56px;
    }
    
    .letter-text {
        font-size: 17px;
    }
}

@media all and (max-width: 436px) { //height 935px
    .letter-header {
        font-size: 43px;
        line-height: 53px;
    }

    .letter-text {
        font-size: 16px;
        line-height: 21px;
    }
}

@media all and (max-width: 412px) { //height 886px
    .letter-header {
        font-size: 40px;
        line-height: 50px;
    }

    .letter-text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 389px) { //height 836px
    .letter-header {
        font-size: 37px;
        line-height: 46px;
    }
    
    .letter-text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media all and (max-width: 365px) { //height 784px
    .letter-header {
        font-size: 34px;
        line-height: 42px;
    }
    
    .letter-text {
        font-size: 13px;
        line-height: 17px;
    }
}

@media all and (max-width: 341px) { //height 733px
    .letter-header {
        font-size: 32px;
        line-height: 40px;
    }
    
    .letter-text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media all and (max-width: 318px) { //height 683px
    .letter {
        margin-bottom: 250px;
    }
    
    .letter-header {
        font-size: 29px;
        line-height: 36px;
    }

    .letter-text {
        font-size: 11px;
        line-height: 14px;
    }
}

@media all and (max-width: 294px) {
    .letter {
        margin-bottom: 250px;
    }
}