* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/Backdrop.jpg");
    background-size: cover;
    background-position: top -100px left 0px;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    font-family: 'Great Vibes';
    font-weight: 400;
    color: #000B4B;
}

h1, .front-page {
    font-size: 250px;
    line-height: 313px;
}

h2, .letter-header {
    font-size: 100px;
    line-height: 125px;
}

h3 {
    font-size: 80px;
    line-height: 100px;
}

h4 {
    font-size: 50px;
    line-height: 62px;
}

p {
    font-family: 'Open sans';
    color: #000B4B;
    font-size: 25px;
    line-height: 34px;
}

.navi-next, .navi-back {
    display: flex;
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    bottom: 47%;
}

.navi-next {
    right: 50px;
}

.navi-back {
    left: 50px;
}

.navi-next__img {
    width: 90px;
}

.navi-back__img {
    width: 90px;
    transform: rotate(180deg);
}

//background media query setings


@media all and (max-width: 1405px) {
    body {
        background-size: 1405px;
    }
}

@media all and (max-width: 1035px) {
    body {  
        background-image: url("img/Background-mobile.jpg");
        background-size: 1200px;
    }
}

@media all and (max-width: 600px) {
    body {
        background-size: 800px;
    }
}

@media all and (max-width: 450px) {
    body {
        background-size: 620px;
    }
}

//font-size media query settings
@media all and (max-width: 1850px) { //height 878px
    h1, .front-page {
        font-size: 240px;
        line-height: 300px;
    }

    h2, .letter-header {
        font-size: 96px;
        line-height: 120px;
    }

    h4 {
        font-size: 48px;
        line-height: 59px;
    }
    
    p {
        font-size: 24px;
        line-height: 32px;
    }
}

@media all and (max-width: 1730px) { //height 821px
    h1, .front-page {
        font-size: 220px;
        line-height: 275px;
    }
    
    h2, .letter-header {
        font-size: 88px;
        line-height: 110px;
    }

    h4 {
        font-size: 44px;
        line-height: 54px;
    }
    
    p {
        font-size: 22px;
        line-height: 29px;
    }
}

@media all and (max-width: 1610px) { //height 764px
    h1, .front-page {
        font-size: 200px;
        line-height: 250px;
    }
    
    h2, .letter-header {
        font-size: 80px;
        line-height: 100px;
    }

    h4 {
        font-size: 40px;
        line-height: 49px;
    }
    
    p {
        font-size: 20px;
        line-height: 27px;
    }
}

@media all and (max-width: 1460px) { //height 693px
    h1, .front-page {
        font-size: 180px;
        line-height: 225px;
    }
    
    h2, .letter-header {
        font-size: 72px;
        line-height: 90px;
    }

    h4 {
        font-size: 36px;
        line-height: 44px;
    }
    
    p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 1320px) { //height 627px
    h1, .front-page {
        font-size: 170px;
        line-height: 212px;
    }
    
    h2, .letter-header {
        font-size: 68px;
        line-height: 85px;
    }

    h4 {
        font-size: 34px;
        line-height: 42px;
    }
    
    p {
        font-size: 17px;
        line-height: 23px;
    }
}

@media all and (max-width: 1248px) { // height 592px
    h1, .front-page {
        font-size: 160px;
        line-height: 200px;
    }
    
    h2, .letter-header {
        font-size: 65px;
        line-height: 81px;
    }

    h4 {
        font-size: 32px;
        line-height: 39px;
    }
    
    p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media all and (max-width: 1190px) { // height 565px
    h1, .front-page {
        font-size: 150px;
        line-height: 187px;
    }
    
    h2, .letter-header {
        font-size: 60px;
        line-height: 75px;
    }

    h4 {
        font-size: 30px;
        line-height: 37px;
    }
    
    p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 1080px) { //height 513px
    h1, .front-page {
        font-size: 140px;
        line-height: 175px;
    }
    
    h2, .letter-header {
        font-size: 56px;
        line-height: 70px;
    }

    h4 {
        font-size: 28px;
        line-height: 34px;
    }
    
    p {
        font-size: 14px;
        line-height: 19px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1427px
    h1, .front-page {
        font-size: 240px;
        line-height: 300px;
    }

    h2, .letter-header {
        font-size: 96px;
        line-height: 120px;
    }

    h4, .additional-header{
        font-size: 48px;
        line-height: 59px;
    }
    
    p, .additional-text {
        font-size: 24px;
        line-height: 32px;
    }
}

@media all and (max-width: 1034px) { //height 1426px 
    h1, .front-page {
        font-size: 220px;
        line-height: 275px;
    }
    
    h2, .letter-header {
        font-size: 88px;
        line-height: 110px;
    }

    h4, .additional-header {
        font-size: 44px;
        line-height: 54px;
    }
    
    p, .additional-text {
        font-size: 22px;
        line-height: 29px;
    }
}

@media all and (max-width: 1034px) { //height 1426px 
    h1, .front-page {
        font-size: 200px;
        line-height: 250px;
    }
    
    h2, .letter-header {
        font-size: 80px;
        line-height: 100px;
    }

    h4, .additional-header {
        font-size: 40px;
        line-height: 49px;
    }
    
    p, .additional-text {
        font-size: 20px;
        line-height: 27px;
    }
}

@media all and (max-width: 875px) { //height 1206px
    h1, .front-page {
        font-size: 180px;
        line-height: 225px;
    }
    
    h2, .letter-header {
        font-size: 72px;
        line-height: 90px;
    }

    h4, .additional-header {
        font-size: 36px;
        line-height: 44px;
    }
    
    p, .additional-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 875px) { //height 1206px 
    h1, .front-page {
        font-size: 160px;
        line-height: 200px;
    }
    
    h2, .letter-header {
        font-size: 65px;
        line-height: 81px;
    }

    h4, .additional-header {
        font-size: 32px;
        line-height: 39px;
    }
    
    p, .additional-text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media all and (max-width: 700px) { //height 965px 
    h1, .front-page {
        font-size: 150px;
        line-height: 187px;
    }
    
    h2, .letter-header {
        font-size: 60px;
        line-height: 75px;
    }

    h4, .additional-header {
        font-size: 30px;
        line-height: 37px;
    }
    
    p, .additional-text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    h1, .front-page {
        font-size: 140px;
        line-height: 175px;
    }
    
    h2, .letter-header {
        font-size: 56px;
        line-height: 70px;
    }

    h4, .additional-header {
        font-size: 28px;
        line-height: 34px;
    }
    
    p, .additional-text {
        font-size: 14px;
        line-height: 19px;
    }
}

@media all and (max-width: 600px) { //height 827px
    h1, .front-page {
        font-size: 130px;
        line-height: 162px;
    }
    
    h2, .letter-header {
        font-size: 52px;
        line-height: 65px;
    }

    h4, .additional-header {
        font-size: 26px;
        line-height: 32px;
    }
    
    p, .additional-text {
        font-size: 13px;
        line-height: 17px;
    }
}

@media all and (max-width: 550px) { //height 758px
    h1, .front-page {
        font-size: 150px;
        line-height: 120px;
    }
    
    h2, .letter-header {
        font-size: 48px;
        line-height: 60px;
    }

    h4, .additional-header {
        font-size: 24px;
        line-height: 29px;
    }
    
    p, .additional-text {
        font-size: 12px;
        line-height: 16px;
    }
}

//nav-buttons media query settings
@media all and (max-width: 1850px) {
    .navi-next {
        right: 35px
    }
}

@media all and (max-width: 1730px) {
    .navi-back {
        left: 45px;
    }
}

@media all and (max-width: 1485px) {
    .navi-next {
        right: 20px;
    }

    .navi-back {
        left: 40px;
    }

    .navi-next__img, .navi-back__img {
        width: 75px;
    }
}

@media all and (max-width: 1330px) {
    .navi-next {
        right: 10px;
    }

    .navi-back {
        left: 35px
    }
}

@media all and (max-width: 1250px) {
    .navi-next {
        right: -15px;
    }

    .navi-back {
        left: 20px
    }

    .navi-back__img, .navi-next__img {
        width: 60px;
    }

    .navi-back, .navi-next {
        bottom: 45%;
    }
}

@media all and (max-width: 1080px) {
    .navi-next {
        right: -20px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1496px
    .navi-back, .navi-next {
        bottom: 80%;
    }

    .navi-back__img, .navi-next__img {
        width: 90px;
    }

    .navi-next {
        right: 10px;
    }
}

@media all and (max-width: 768px) { //height 1228px
    .navi-back__img, .navi-next__img {
        width: 75px;
    }
}

@media all and (max-width: 700px) { //height 965px
    .navi-back, .navi-next {
        bottom: 75%;
    }

    .navi-next {
        right: -5px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    .navi-back__img, .navi-next__img {
        width: 60px;
    }

    .navi-next {
        right: -20px;
    }
}

@media all and (max-width: 605px) { //height 968px
    .navi-back {
        left: 25px;
    }
}

@media all and (max-width: 525px) { //height 724px 
    .navi-back__img, .navi-next__img {
        width: 50px;
    }

    .navi-next {
        right: -35px;
    }

    .navi-back {
        left: 15px;
    }
}

@media all and (max-width: 450px) {
    .navi-next {
        right: -25px;
    }

    .navi-back__img, .navi-next__img {
        width: 50px;
    }
}

@media all and (max-width: 270px) {
    .navi-back, .navi-next {
        bottom: 75%;
    }

    .navi-next {
        right: -40px;
    }

    .navi-back {
        left: 20px;
    }

    .navi-back__img, .navi-next__img {
        width: 40px;
    }
}

@media all and (max-width: 219px) {

    .navi-back, .navi-next {
        bottom: 72%;
    }

    .navi-back {
        left: 15px;
    }

    .navi-next {
        right: -50px;
    }

    .navi-back__img, .navi-next__img {
        width: 35px;
    }
}

@media all and (max-width: 180px) {
    .navi-back, .navi-next {
        bottom: 65%;
    }

    .navi-back {
        left: 10px;
    }

    .navi-next {
        right: -60px;
    }

    .navi-back__img, .navi-next__img {
        width: 30px;
    }
}

@media all and (max-width: 150px) {
    .navi-back, .navi-next {
        bottom: 58%;
    }

    .navi-next {
        right: -70px;
    }

    .navi-back__img, .navi-next__img {
        width: 20px;
    }
}