* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/Backdrop.jpg");
    background-size: cover;
    background-position: top -100px left 0px;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    font-family: 'Great Vibes';
    font-weight: 400;
    color: #000B4B;
}

h1, .front-page {
    font-size: 250px;
    line-height: 313px;
}

h2, .letter-header {
    font-size: 100px;
    line-height: 125px;
}

h3 {
    font-size: 82px;
    line-height: 101px;
}

h4 {
    font-size: 50px;
    line-height: 62px;
}

p {
    font-family: 'Open sans';
    color: #000B4B;
    font-size: 25px;
    line-height: 34px;
}

.navi-next, .navi-back {
    display: flex;
    position: fixed;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    bottom: 47%;
}

.navi-next {
    right: 50px;
}

.navi-back {
    left: 50px;
}

.navi-next__img {
    width: 90px;
}

.navi-back__img {
    width: 90px;
    transform: rotate(180deg);
}

//background media query setings

//desktip view
//1080p with 50% zoom
@media all and (max-width: 1065px) and (min-height: 605px) {
    body {
        background-size: 1065px;
    }
}
//1080p with 25% zoom
@media all and (max-width: 1245px) and (min-height: 729px) {
    body {
        background-size: 1245px;
    }
}

//1080p resolution without zoom 
@media all and (max-width: 1575px) and (min-height: 912px) {
    body {
        background-size: 1575px;
    }
}

@media all and (max-width: 1310px) and (min-height: 912px) {
    body {
        background-image: url("img/Background-mobile.jpg");
        background-size: 1310px;
    }
}

@media all and (max-width: 1210px) and (min-height: 912px) {
    body {
        background-size: 1210px;
    }
}

@media all and (max-width: 1110px) and (min-height: 912px) {
    body {
        background-size: 1110px;
    }
}

//for 4k resolution monitors

//4k with 50% zoom

@media all and (max-width: 1665px) and (min-height: 951px) {
    body {
        background-size: 1665px;
    }
}

@media all and (max-width: 1310px) and (min-height: 951px) {
    body {
        background-image: url("img/Background-mobile.jpg");
        background-size: 1310px;
    }
}

@media all and (max-width: 1210px) and (min-height: 951px) {
    body {
        background-size: 1210px;
    }
}

@media all and (max-width: 1110px) and (min-height: 951px) {
    body {
        background-size: 1110px;
    }
}

//4k with 25% zoom

@media all and (max-width: 1938px) and (min-height: 961px) {
    body {
        background-size: 1938px;
    }
}

@media all and (max-width: 1610px) and (min-height: 961px) {
    body {
        background-image: url("img/Background-mobile.jpg");
        background-size: 1610px;
    }
}

@media all and (max-width: 1510px) and (min-height: 961px) {
    body {
        background-size: 1510px;
    }
}

@media all and (max-width: 1410px) and (min-height: 961px) {
    body {
        background-size: 1410px;
    }
}

@media all and (max-width: 1310px) and (min-height: 961px) {
    body {
        background-size: 1310px;
    }
}

@media all and (max-width: 1210px) and (min-height: 961px) {
    body {
        background-size: 1210px;
    }
}

@media all and (max-width: 1110px) and (min-height: 961px) {
    body {
        background-size: 1110px;
    }
}

//4k without zoom
@media all and (max-width: 2390px) and (min-height: 1153px) {
    body {
        background-size: 2390px;
    }
}

@media all and (max-width: 2110px) and (min-height: 1153px) {
    body {
        background-image: url("img/Background-mobile.jpg");
        background-size: 2110px;
    }
}

@media all and (max-width: 2010px) and (min-height: 1153px) {
    body {
        background-size: 2010px;
    }
}

@media all and (max-width: 1910px) and (min-height: 1153px) {
    body {
        background-size: 1910px;
    }
}

@media all and (max-width: 1810px) and (min-height: 1153px) {
    body {
        background-size: 1810px;
    }
}

@media all and (max-width: 1710px) and (min-height: 1153px) {
    body {
        background-size: 1710px;
    }
}

@media all and (max-width: 1610px) and (min-height: 1153px) {
    body {
        background-size: 1610px;
    }
}

@media all and (max-width: 1510px) and (min-height: 1153px) {
    body {
        background-size: 1510px;
    }
}

@media all and (max-width: 1410px) and (min-height: 1153px) {
    body {
        background-size: 1410px;
    }
}

@media all and (max-width: 1310px) and (min-height: 1153px) {
    body {
        background-size: 1310px;
    }
}

@media all and (max-width: 1210px) and (min-height: 1153px) {
    body {
        background-size: 1210px;
    }
}

@media all and (max-width: 1110px) and (min-height: 1153px) {
    body {
        background-size: 1110px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1480px
    body {  
        background-image: url("img/Background-mobile.jpg");
        background-position: top 0px left 0px;
        background-size: 1055px;
    }
}

@media all and (max-width: 935px) { //height 1335px
    body {
        background-size: 960px;
    }
}

@media all and (max-width: 835px) { //height 1193px
    body {
        background-size: 865px;
    }
}

@media all and (max-width: 735px) { //height 1050px
    body {
        background-size: 770px;
    }
}

@media all and (max-width: 635px) { //height 908px
    body {
        background-size: 675px;
    }
}

@media all and (max-width: 535px) { //height 765px
    body {
        background-size: 580px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 961px
    body {
        background-size: 645px;
    }
}

@media all and (max-width: 450px) { //height 865px
    body {
        background-size: 580px;
    }
}

@media all and (max-width: 400px) { //height 770px
    body {
        background-size: 515px;
    }
}

@media all and (max-width: 350px) { //height 674px
    body {
        background-size: 455px;
    }
}

@media all and (max-width: 300px) { //height 577px
    body {
        background-size: 390px;
    }
}

@media all and (max-width: 250px) { //height 481px
    body {
        background-size: 330px;
    }
}

//font-size media query settings
@media all and (max-width: 1850px) { //height 878px
    h1, .front-page {
        font-size: 240px;
        line-height: 300px;
    }

    h2, .letter-header {
        font-size: 96px;
        line-height: 120px;
    }

    h3 {  
        font-size: 78px;
        line-height: 96px;
    }

    h4 {
        font-size: 48px;
        line-height: 59px;
    }
    
    p {
        font-size: 24px;
        line-height: 32px;
    }
}

@media all and (max-width: 1730px) { //height 821px
    h1, .front-page {
        font-size: 220px;
        line-height: 275px;
    }
    
    h2, .letter-header {
        font-size: 88px;
        line-height: 110px;
    }

    h3 {
        font-size: 72px;
        line-height: 88px;
    }

    h4 {
        font-size: 44px;
        line-height: 54px;
    }
    
    p {
        font-size: 22px;
        line-height: 29px;
    }
}

@media all and (max-width: 1610px) { //height 764px
    h1, .front-page {
        font-size: 200px;
        line-height: 250px;
    }
    
    h2, .letter-header {
        font-size: 80px;
        line-height: 100px;
    }

    h3 {
        font-size: 65px;
        line-height: 80px;
    }

    h4 {
        font-size: 40px;
        line-height: 49px;
    }
    
    p {
        font-size: 20px;
        line-height: 27px;
    }
}

@media all and (max-width: 1460px) { //height 693px
    h1, .front-page {
        font-size: 180px;
        line-height: 225px;
    }
    
    h2, .letter-header {
        font-size: 72px;
        line-height: 90px;
    }

    h3 {
        font-size: 59px;
        line-height: 72px;
    }

    h4 {
        font-size: 36px;
        line-height: 44px;
    }
    
    p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 1320px) { //height 627px
    h1, .front-page {
        font-size: 170px;
        line-height: 212px;
    }
    
    h2, .letter-header {
        font-size: 68px;
        line-height: 85px;
    }

    h3 {
        font-size: 55px;
        line-height: 68px;
    }

    h4 {
        font-size: 34px;
        line-height: 42px;
    }
    
    p {
        font-size: 17px;
        line-height: 23px;
    }
}

@media all and (max-width: 1248px) { // height 592px
    h1, .front-page {
        font-size: 160px;
        line-height: 200px;
    }
    
    h2, .letter-header {
        font-size: 65px;
        line-height: 81px;
    }

    h3 {
        font-size: 52px;
        line-height: 64px;
    }

    h4 {
        font-size: 32px;
        line-height: 39px;
    }
    
    p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media all and (max-width: 1190px) { // height 565px
    h1, .front-page {
        font-size: 150px;
        line-height: 187px;
    }
    
    h2, .letter-header {
        font-size: 60px;
        line-height: 75px;
    }

    h3 {
        font-size: 49px;
        line-height: 60px;
    }

    h4 {
        font-size: 30px;
        line-height: 37px;
    }
    
    p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 1080px) { //height 513px
    h1, .front-page {
        font-size: 140px;
        line-height: 175px;
    }
    
    h2, .letter-header {
        font-size: 56px;
        line-height: 70px;
    }

    h3 { 
        font-size: 45px;
        line-height: 56px;
    }

    h4 {
        font-size: 28px;
        line-height: 34px;
    }
    
    p {
        font-size: 14px;
        line-height: 19px;
    }
}

//tablet view
@media all and (max-width: 1035px) { //height 1480px
    h1, .front-page {
        font-size: 290px;
        line-height: 363px;
    }

    h2, .letter-header {
        font-size: 116px;
        line-height: 145px;
    }

    h3 {
        font-size: 95px;
        line-height: 117px;
    }

    h4, .additional-header{
        font-size: 58px;
        line-height: 71px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 29px;
        line-height: 39px;
    }
}

@media all and (max-width: 1034px) { //height 1426px 
    h1, .front-page {
        font-size: 270px;
        line-height: 338px;
    }
    
    h2, .letter-header {
        font-size: 108px;
        line-height: 135px;
    }

    h3 {
        font-size: 88px;
        line-height: 109px;
    }

    h4, .additional-header {
        font-size: 54px;
        line-height: 66px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 27px;
        line-height: 36px;
    }
}

@media all and (max-width: 950px) { //height 1310px 
    h1, .front-page {
        font-size: 250px;
        line-height: 313px;
    }
    
    h2, .letter-header {
        font-size: 100px;
        line-height: 125px;
    }

    h3 {
        font-size: 82px;
        line-height: 101px;
    }

    h4, .additional-header {
        font-size: 50px;
        line-height: 62px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 25px;
        line-height: 34px;
    }
}

@media all and (max-width: 875px) { //height 1206px
    h1, .front-page {
        font-size: 220px;
        line-height: 275px;
    }
    
    h2, .letter-header {
        font-size: 88px;
        line-height: 110px;
    }

    h3 {
        font-size: 72px;
        line-height: 88px;
    }

    h4, .additional-header {
        font-size: 44px;
        line-height: 54px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 22px;
        line-height: 29px;
    }
}

@media all and (max-width: 775px) { //height 1068px 
    h1, .front-page {
        font-size: 210px;
        line-height: 262px;
    }
    
    h2, .letter-header {
        font-size: 84px;
        line-height: 105px;
    }

    h3 {
        font-size: 68px;
        line-height: 84px;
    }

    h4, .additional-header {
        font-size: 42px;
        line-height: 52px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 21px;
        line-height: 28px;
    }
}

@media all and (max-width: 700px) { //height 965px 
    h1, .front-page {
        font-size: 200px;
        line-height: 250px;
    }
    
    h2, .letter-header {
        font-size: 80px;
        line-height: 100px;
    }

    h3 {
        font-size: 65px;
        line-height: 80px;
    }

    h4, .additional-header {
        font-size: 40px;
        line-height: 49px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 20px;
        line-height: 27px;
    }
}

@media all and (max-width: 650px) { //height 896px 
    h1, .front-page {
        font-size: 180px;
        line-height: 225px;
    }
    
    h2, .letter-header {
        font-size: 72px;
        line-height: 90px;
    }

    h3 {
        font-size: 59px;
        line-height: 72px;
    }

    h4, .additional-header {
        font-size: 36px;
        line-height: 44px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 600px) { //height 827px
    h1, .front-page {
        font-size: 170px;
        line-height: 212px;
    }
    
    h2, .letter-header {
        font-size: 68px;
        line-height: 85px;
    }

    h3 {
        font-size: 55px;
        line-height: 68px;
    }

    h4, .additional-header {
        font-size: 34px;
        line-height: 42px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 17px;
        line-height: 23px;
    }
}

@media all and (max-width: 550px) { //height 758px
    h1, .front-page {
        font-size: 150px;
        line-height: 187px;
    }
    
    h2, .letter-header {
        font-size: 60px;
        line-height: 75px;
    }

    h3 {
        font-size: 49px;
        line-height: 60px;
    }

    h4, .additional-header {
        font-size: 30px;
        line-height: 37px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 15px;
        line-height: 20px;
    }
}

//mobile view
@media all and (max-width: 500px) { //height 862px
    h1, .front-page {
        font-size: 113px;
        line-height: 141px;
    }
    
    h2 {
        font-size: 56px;
        line-height: 70px;
    }

    h3, .letter-header {
        font-size: 45px;
        line-height: 56px;
    }

    h4, .additional-header {
        font-size: 39px;
        line-height: 47px;
    }

    h5 {
        font-size: 34px;
        line-height: 41px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 17px;
        line-height: 23px;
    }
}

@media all and (max-width: 465px) { //height 801px
    h1, .front-page {
        font-size: 106px;
        line-height: 133px;
    }
    
    h2 {
        font-size: 53px;
        line-height: 66px;
    }

    h3, .letter-header {
        font-size: 42px;
        line-height: 53px;
    }

    h4, .additional-header {
        font-size: 37px;
        line-height: 45px;
    }

    h5 {
        font-size: 32px;
        line-height: 39px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media all and (max-width: 435px) { //height 750px
    h1, .front-page {
        font-size: 100px;
        line-height: 125px;
    }
    
    h2 {
        font-size: 50px;
        line-height: 62px;
    }

    h3, .letter-header {
        font-size: 40px;
        line-height: 50px;
    }

    h4, .additional-header {
        font-size: 35px;
        line-height: 43px;
    }

    h5 {
        font-size: 30px;
        line-height: 37px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media all and (max-width: 405px) { //height 698px
    h1, .front-page {
        font-size: 93px;
        line-height: 116px;
    }
    
    h2 {
        font-size: 46px;
        line-height: 57px;
    }

    h3, .letter-header {
        font-size: 37px;
        line-height: 46px;
    }

    h4, .additional-header {
        font-size: 32px;
        line-height: 40px;
    }

    h5 {
        font-size: 28px;
        line-height: 34px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media all and (max-width: 375px) { //height 646px
    h1, .front-page {
        font-size: 86px;
        line-height: 108px;
    }
    
    h2 {
        font-size: 43px;
        line-height: 53px;
    }

    h3, .letter-header {
        font-size: 34px;
        line-height: 43px;
    }

    h4, .additional-header {
        font-size: 30px;
        line-height: 37px;
    }

    h5 {
        font-size: 26px;
        line-height: 32px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 13px;
        line-height: 17px;
    }
}

@media all and (max-width: 345px) { //height 594px
    h1, .front-page {
        font-size: 80px;
        line-height: 100px;
    }
    
    h2 {
        font-size: 40px;
        line-height: 49px;
    }

    h3, .letter-header {
        font-size: 32px;
        line-height: 40px;
    }

    h4, .additional-header {
        font-size: 28px;
        line-height: 34px;
    }

    h5 {
        font-size: 24px;
        line-height: 29px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media all and (max-width: 315px) { //height 543px
    h1, .front-page {
        font-size: 73px;
        line-height: 91px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 45px;
    }

    h3, .letter-header {
        font-size: 29px;
        line-height: 36px;
    }

    h4, .additional-header {
        font-size: 25px;
        line-height: 31px;
    }

    h5 {
        font-size: 22px;
        line-height: 27px;
    }
    
    p, .additional-text, .letter-text {
        font-size: 11px;
        line-height: 14px;
    }
}

//nav-buttons media query settings
@media all and (max-width: 1850px) {
    .navi-next {
        right: 35px
    }
}

@media all and (max-width: 1730px) {
    .navi-back {
        left: 35px;
    }
}

@media all and (max-width: 1485px) {
    .navi-next, .navi-back {
        width: 75px;
    }
    
    .navi-next {
        right: 40px;
    }

    .navi-back {
        left: 40px;
    }

    .navi-next__img, .navi-back__img {
        width: 75px;
    }
}

@media all and (max-width: 1250px) {
    .navi-next, .navi-back {
        width: 60px;
    }
    
    .navi-next {
        right: 26px;
    }

    .navi-back {
        left: 26px
    }

    .navi-back__img, .navi-next__img {
        width: 60px;
    }
}

@media all and (max-width: 1080px) {
    .navi-next {
        right: 18px;
    }

    .navi-back {
        left: 18px
    }
}

//tablet and mobile view
@media all and (max-width: 1035px) { //height 1496px
    .navi-back, .navi-next {
        height: 100%;
        bottom: 0;
    }

    .navi-back__img, .navi-next__img {
        display: none;
    }

    .navi-next {
        right: 0px;
        width: 20%;
    }

    .navi-back {
        left: 0px;
        width: 20%;
    }
}